<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      Laboratorios
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="#">
            <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Dashboard laboratorios</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Componente central de busqueda -->
      <button (click)="subir()">Subir</button>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="box box-danger">
            <div class="box-header" >
              <div class="form-group">
                <div class="col-md-12">
                    <i class="fa fa-map"></i>

                    <h3 class="box-title">Solicitudes de Mantenimiento</h3>
                    <button style="float: right;" class="btn2 btn-danger btn-lg danger" type="button" >Nueva Solicitud</button>
                </div>
              </div>
            </div>

            <div class="box-body">

              <div class="col-md-12">
                  <div class="box box-danger">


                    <div class="box-body">
                        <div class="box-body">

                            <ul class="nav nav-tabs" >
                                <li><a class="tablas" data-toggle="tab"  href="#home" >
                                  ACTIVOS</a></li>
                                <li><a class="tablas" data-toggle="tab" href="#menu1">
                                 INACTIVOS</a></li>
                            </ul>

                            <div class="row" style="margin-top:30px;">
                                <div class="col-md-12">
                                    <div class="box box-danger">
                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active">
                                                <div class="box-header">
                                                    <i class="fa fa-flask"></i>

                                                    <h3 class="box-title">ACTIVOS</h3>
                                                </div>
                                                <div class="box-body">

                                                    <div class="table-responsive">

                                                        <div class="example-container mat-elevation-z8">
                                                            <div class="example-header">
                                                            <mat-form-field>
                                                                <input style="outline: none;" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                                            </mat-form-field>
                                                            </div>
                
                                                            <mat-table #table #sort="matSort" [dataSource]="dataSource" matSort>
                
                                                            <!-- Position Column -->
                                                            <ng-container matColumnDef="nombre">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                                                <mat-cell *matCellDef="let element"> {{element.nombreEquip}} </mat-cell>
                                                            </ng-container>
                
                                                            <!-- Name Column -->
                                                            <ng-container matColumnDef="fecha">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                                                                <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
                                                            </ng-container>
                
                                                            <!-- Weight Column -->
                                                            <ng-container matColumnDef="tipo">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                                                                <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
                                                            </ng-container>
                
                                                            <!-- Symbol Column -->
                                                            <ng-container matColumnDef="estado">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" > {{element.status}} </mat-cell>
                                                            </ng-container>
                
                                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;" (click)="cambiarDataSolicitud(row)"></mat-row>
                                                            </mat-table>
                
                                                            <mat-paginator #paginator="matPaginator"
                                                            [pageSize]="4"
                                                            [pageSizeOptions]="[2, 3, 4]"
                                                            [showFirstLastButtons]="true">
                                                        </mat-paginator>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div id="menu1" class="tab-pane fade">
                                                <div class="box-header">
                                                    <i class="fa fa-flask"></i>

                                                    <h3 class="box-title">INACTIVOS</h3>
                                                </div>
                                                <div class="box-body">

                                                    <div class="table-responsive">
                                                        <div class="example-container mat-elevation-z8">
                                                            <div class="example-header">
                                                            <mat-form-field>
                                                                <input style="outline: none;" matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
                                                            </mat-form-field>
                                                            </div>
                    
                                                            <mat-table #table2 #sort2="matSort" [dataSource]="dataSource2" matSort>
                    
                                                            <!-- Position Column -->
                                                            <ng-container matColumnDef="nombre">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                                                <mat-cell *matCellDef="let element"> {{element.nombreEquip}} </mat-cell>
                                                            </ng-container>
                    
                                                            <!-- Name Column -->
                                                            <ng-container matColumnDef="fecha">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                                                                <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
                                                            </ng-container>
                    
                                                            <!-- Weight Column -->
                                                            <ng-container matColumnDef="laboratorio">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Laboratorio </mat-header-cell>
                                                                <mat-cell *matCellDef="let element"> {{element.nombrelab}} </mat-cell>
                                                            </ng-container>
                    
                                                            <!-- Symbol Column -->
                                                            <ng-container matColumnDef="estado">
                                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
                                                                <mat-cell *matCellDef="let element" > {{element.status}} </mat-cell>
                                                            </ng-container>
                    
                                                            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                                                            <mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="cambiarDataServicio(row, 'historial')"></mat-row>
                                                            </mat-table>
                    
                                                            <mat-paginator #paginator2="matPaginator"
                                                            [pageSize]="4"
                                                            [pageSizeOptions]="[2, 3, 4]"
                                                            [showFirstLastButtons]="true">
                                                        </mat-paginator>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                          </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                  <!-- /.box-body -->
                  </div>

              </div>

              <div *ngIf="this.solsel" class="col-md-6">
                  <div class="box box-danger">
                    <div class="box-header">
                      <i class="fa fa-map"></i>

                      <h3 class="box-title">INFORMACION DE SOLICITUD</h3>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <form  id="form-work" class="" name="form-work" action="#">
                                <fieldset>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ccpas"><strong>No Solicitud: </strong>
                                        {{this.solsel.uidlab}}
                                        </label>
    
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="nac"><strong>Fecha Solicitud: </strong>
                                            {{this.solsel.fecha}}
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ciuor"><strong>Fecha ultima edicion: </strong>
                                            {{this.solsel.editado}}
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ciudes"><strong>Usuario solicitante: </strong>
                                            {{this.solsel.usuario}}
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ciudes"><strong>Tipo Mantenimiento: </strong>
                                            {{this.solsel.tipo}}
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ciudes"><strong>Estado Equipo: </strong>
                                            {{this.solsel.equipo.active}}
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ciudes"><strong>Descripcion: </strong>
                                            {{this.solsel.descripcion}}
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label" for="ciudes"><strong>Datos Proveedor:</strong>                    
                                        </label>
                                            <ul>
                                                <li *ngFor="let item of solsel.proveedores">
                                                    {{item.name}}
                                                    <ul>
                                                        <li *ngFor="let item2 of item.contactNumbers; let i = index">tel {{i}} : {{item2}}</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

    
                                </fieldset>
                        </form>
                                          
                    </div>

                  </div>

              </div>

              <div *ngIf="this.solsel" class="col-md-6">
                    <div class="box box-danger">
                      <div class="box-header">
                        <i class="fa fa-map"></i>
  
                        <h3 class="box-title">INFORMACION DE EQUIPO VINCULADO</h3>
                      </div>
  
                      <!-- /.box-header -->
                      <div class="box-body">
                            <form  id="form-work" class="" name="form-work" action="#">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label" for="nac"><strong>No Invetario: </strong>
                                                {{this.solsel.equipo.inventory}}
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="ccpas"><strong>Nombre Equipo: </strong>
                                            {{this.solsel.equipo.cfName}}
                                            </label>
        
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="nac"><strong>Precio: </strong>
                                                {{this.solsel.equipo.price}}
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="ciuor"><strong>Estado: </strong>
                                                {{this.solsel.equipo.active}}
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="ciudes"><strong>COMPONENTES ASOCIADOS:</strong>                    
                                            </label>
                                                <ul>
                                                    <li *ngFor="let item of solsel.componentes">
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="control-label" for="nac"><strong>Nombre: </strong>
                                                                {{item.nombre}}
                                                            </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                              <label class="control-label" for="ccpas"><strong>Descripcion: </strong>
                                                                {{item.descripcion}}
                                                              </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                              <label class="control-label" for="nac"><strong>Precio: </strong>
                                                                {{item.precio}}
                                                            </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                              <label class="control-label" for="ciuor"><strong>Marca: </strong>
                                                                {{item.marca}}
                                                            </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                              <label class="control-label" for="ciuor"><strong>Modelo: </strong>
                                                                {{item.modelo}}
                                                            </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                              <label class="control-label" for="ciuor"><strong>Estado: </strong>
                                                                {{item.estado}}
                                                            </label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
    
        
                                    </fieldset>
                            </form>
                         
                      </div>
  
                    </div>
  
              </div>

                <div *ngIf="!this.solsel">
                    <h1>NO SE HA SELECCIONADO NINGUNA SOLICITUD</h1>
                </div>


            </div>



          </div>
        </div>
      </div>



    </section>



  </div>


