#wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
  }

.page-head-image img {
  border-radius: 50%;
}

#form-trabalhe {
  margin-top: 30px;
  text-align: left;
}

label {
  font-weight: normal;
  /* margin-top: 15px; */
}


.btn2 {
  border: 0;
  border-radius: 3px;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 0;
  text-align: left;
}

.divScroll {
  overflow-y: scroll;
  height: 600px;
  max-height: auto;
}

.divScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.divScroll::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.divScroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}

.sombra:hover{
  background-color: #ECF1F3;
  cursor: pointer;
}

.divScroll1 {
  overflow-y: scroll;
  height: 150px;
}

.divScroll1::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.divScroll1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.divScroll1::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.no-data {
  text-align: center;
  color: #7d7d7da8;
}

.shadow {
  box-shadow: 0px 0px 15px 0px #888888;
}

.internal-shadow {
  box-shadow: 1px 1px 10px -1px #888888;
}

::ng-deep .mat-checkbox-inner-container {
  width:17px !important;
  height: 17px !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background{
  background-color: #cc0000;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 20px !important;
}

.modal-p {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.modal-button {
  background-color: #cc0000;
  color: white;
  font-size: 1.3rem;
  margin-top: 10px;
}

.modal-button:hover {
  background-color: #58595b;
}

.modal-content {
  box-shadow: none;
  background-color: transparent;
  border:none;
}

.info-box-text {
  font-size: 0.85em !important;
}

.no-selected-lab {
  height: 75vh;
  display: flex;
  width: 100%;
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c00; 
  border-radius: 10px;
}

.description {
  text-align: justify; 
  max-height: 300px; 
  overflow-y: auto; 
  padding-right: 10px
}

.lab-terms {
  text-align: justify; 
  max-height: 300px; 
  overflow-y: auto; 
  padding-right: 10px
}

.space-info {
  margin: 5px;
  padding-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.not-available {
  background-color: gray !important;
  color: white;
  opacity: .4;
}

.not-available span {
  background-color: gray !important;
}

@media only screen and (max-width: 600px) {
  .map-button {
    display:none;
  }
  .map-responssive {
    display:block !important;
  }
}