
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree" style="width: 100%;">

      <li class="treeview" style="cursor:pointer;">
        <a>
          <i class="fa fa-search"></i>
          <span >Busquedad laboratorios</span>
          <span class="pull-right-container" style="width: 100%;">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="cursor:pointer;">
          <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Buscar</a>


          </li>
          <!-- <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Busqueda por escuela</a>
          </li>
          <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Busqueda por <br> linea de Investigacion</a>


          </li>
          <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Busqueda por director</a>
          </li> -->
        </ul>
      </li>

      <li class="treeview">
        <a>
          <i class="fa fa-search"></i>
          <span>Busquedad Servicios</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li >
            <a [routerLink]="['busquedaservicio']">
              <i class="fa fa-circle-o"></i>Servicios</a>
          </li>
        </ul>
      </li>


      <li class="treeview">
        <a>
          <i class="fa fa-search"></i>
          <span>Busquedad Pruebas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a >
              <i class="fa fa-circle-o"></i> Level One</a>
          </li>
          <li class="treeview">
            <a>
              <i class="fa fa-circle-o"></i> Level One
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <a>
                  <i class="fa fa-circle-o"></i> Level Two</a>
              </li>
              <li class="treeview">
                <a>
                  <i class="fa fa-circle-o"></i> Level Two
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
                <ul class="treeview-menu">
                  <li>
                    <a>
                      <i class="fa fa-circle-o"></i> Level Three</a>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-circle-o"></i> Level Three</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['busquedaprueba']">
              <i class="fa fa-circle-o"></i> Level One</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://adminlte.io/docs">
          <i class="fa fa-book"></i>
          <span>Documentation</span>
        </a>
      </li>
    </ul>
