
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree" data-animation-speed="500" style="width: 100%;">

      <li class="treeview" >
        <a>
          <i class="fa fa-search"></i>
          <span >Búsqueda laboratorios</span>
          <span class="pull-right-container" style="width: 100%;">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Buscar</a>


          </li>
          <!-- <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Busqueda por escuela</a>
          </li>
          <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Busqueda por <br> linea de Investigacion</a>


          </li>
          <li>
            <a [routerLink]="['busquedalaboratorio']">
              <i class="fa fa-circle-o"></i> Busqueda por director</a>
          </li> -->
        </ul>
      </li>

      <li class="treeview">
        <a>
          <i class="fa fa-search"></i>
          <span>Búsqueda Servicios</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li >
            <a [routerLink]="['busquedaservicio']">
              <i class="fa fa-circle-o"></i>Servicios</a>
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a>
          <i class="fa fa-search"></i>
          <span>Búsqueda Prácticas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li >
            <a [routerLink]="['busquedaprueba']">
              <i class="fa fa-circle-o"></i>Prácticas</a>
          </li>
        </ul>
      </li>


    </ul>
