<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Servicios</small>
      </h1>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Componente central de busquedad -->

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="box box-danger">
            <div class="box-header">
              <i class="fa fa-search"></i>

              <h3 class="box-title">Busquedad</h3>

            </div>

            <div class="box-body">

              <div class="example-container mat-elevation-z8">
                <div class="example-header">
                  <mat-form-field>
                    <input style="outline: none;" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>

                <mat-table #tableserv #sort="matSort" [dataSource]="dataSource" matSort>

                  <!-- Position Column -->
                  <ng-container matColumnDef="nombreserv">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombreserv}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="nombrelab">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Laboratorio </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.nombrelab}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="cambiardata(row)"></mat-row>
                </mat-table>

                <mat-paginator #paginator="matPaginator"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 20]"
                  [showFirstLastButtons]="true">
                </mat-paginator>
              </div>


            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!moduloinfo" class="row">
          <div class="col-md-12 col-lg-12">
              <div class="box box-danger">
                  <div class="box-body">
                      <h3>SIN DATOS SELECCIONADOS</h3>
                  </div>
              </div>

          </div>
      </div>

      <div *ngIf="moduloinfo" class="row">
          <div class="col-md-12 col-lg-12">
            <div class="box box-danger">
              <div class="box-body">
                  <div class="box-header">
                      <i class="fa fa-building"></i>

                      <h3 class="box-title">Detalles del servicio</h3>
                    </div>
                <div class="row" style="margin-top:20px;">
                   <!-- INFORMACION LABORATORIO -->
                    <div class="col-md-6">
                      <div class="box box-danger">
                        <div class="box-header">
                          <i class="fa fa-address-card-o"></i>

                          <h3 class="box-title">Informacion servicio</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form  id="form-work" class="" name="form-work" action="#">
                              <fieldset>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <label class="control-label" for="nombreserv"><strong>Nombre :</strong> {{itemsel.nombreserv}}</label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <label class="control-label" for="descripserv"><strong>Descripcion:</strong> {{itemsel.infoServ.descripcion}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <label class="control-label" for="precioserv"><strong>Precio:</strong> {{itemsel.infoServ.precio}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <label class="control-label" for="estadoserv"><strong>Estado:</strong> {{itemsel.infoServ.estado}}</label>
                                    </div>
                                </div>

                              </fieldset>
                            </form>
                        </div>

                      </div>
                    </div>
                  <div class="col-md-6">
                    <div class="box box-danger">
                      <div class="box-header">
                        <i class="fa fa-map"></i>

                        <h3 class="box-title">Ubicación</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <form  id="form-work" class="" name="form-work" action="#">
                          <fieldset>
                            <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="dir"><strong>Direccion:</strong> {{itemsel.infoLab.dir}}</label>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="tel"><strong>Telefono:</strong> {{itemsel.infoLab.tel}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="cel"><strong>Celular:</strong> {{itemsel.infoLab.cel}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="email"><strong>Email:</strong> {{itemsel.infoLab.email}}</label>
                                </div>
                            </div>
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="control-label" for="director"><strong>Director:</strong> {{itemsel.infoLab.director}}</label>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="control-label" for="escuela"><strong>Escuela: </strong> {{itemsel.infoLab.escuela}}</label>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-md-12">
                                <label class="control-label" for="inves"><strong>Investigacion:</strong> {{itemsel.infoLab.inves}}</label>
                              </div>
                            </div>

                          </fieldset>
                        </form>
                        <div id="mapaaser" style="height:250px; margin-top: 20px;"></div>
                      </div>
                      <!-- /.box-body -->

                    </div>
                  </div>

                </div>

                <div class="row" style="margin-top:20px;">
                  <div class="col-md-12 text-center form-group">
                    <button class="btn-danger btn-lg btn-block danger" type="button" >SOLICITAR SERVICIO</button>

                  </div>
                </div>


              </div>
            </div>
          </div>
      </div>

    </section>



</div>
