# Archivo de configuracion .gitignore
# para el proyecto de SIGELAB.
#
# Actualizar este archivo, en el repositorio solo debe
# contener archivos de codigo fuente.
#

frontend/sigelabangular/

frontend/angularApp/\.firebaserc


