# Archivo de configuracion .gitignore
# para el proyecto de SIGELAB.
#
# Actualizar este archivo, en el repositorio solo debe
# contener archivos de codigo fuente.
#
frontend/angularApp/src/environments/
frontend/sigelabangular/

frontend/angularApp/\.firebaserc

frontend/angularApp/src/app/config\.ts
