<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Personal
    </h1>
  </section>

  <!-- Main content -->
  <section class="content" *ngIf="itemsel | async; let itemsel">

    <!-- Componente central de busqueda -->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-header">
            <div class="form-group">
              <div class="col-md-12">

                <button *ngIf="moduloNivel2" data-toggle="modal" (click)= "setValue()"   data-target="#modal1" style="float: right;" class="btn btn-danger" type="button">Agregar
                  Personal</button>
              </div>
            </div>
          </div>

          <div class="box-body">

            <div class="col-md-12">
              <div>


                <div class="box-body">
                  <div class="box-body">

                    <ul class="nav nav-tabs">
                      <li>
                        <a class="tablas" data-toggle="tab" href="#home">
                          Activos</a>
                      </li>
                      <li>
                        <a class="tablas" data-toggle="tab" href="#menu1">
                          Inactivos</a>
                      </li>
                    </ul>

                    <div class="row" style="margin-top:20px;">
                      <div class="col-md-12">
                        <div class="box box-danger">
                          <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">

                              <div class="box-body" *ngIf="this.itemsel">

                                <div>
                                  <div class="box-header">
                                    <i class="fa fa-users"></i>

                                    <h3 class="box-title">Personal Vinculado</h3>
                                    <!--       <h3   class="box-title" style="float: right;">{{this.itemsel.personal.length}} PERSONAS</h3> -->
                                  </div>
                                  <!-- /.box-header -->
                                  <div *ngIf="dataSourcePers.data.length == 0">
                                    <h3>El laboratorio no cuenta con personal activo</h3>
                                  </div>

                                  <div class="box-body" *ngIf="dataSourcePers.data">

                                    <div class="example-container mat-elevation-z8" *ngIf="dataSourcePers.data.length != 0">
                                      <div class="example-header">
                                        <mat-form-field>
                                          <input style="outline: none;" matInput (keyup)="applyFilterPers($event.target.value)" placeholder="Buscar Personal">
                                        </mat-form-field>
                                      </div>

                                      <mat-table #tablePers #sortPers="matSort" [dataSource]="dataSourcePers" matSort>


                                        <ng-container matColumnDef="nombre">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                          <mat-cell   *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="email">
                                          <mat-header-cell [ngClass]="'large'"  *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                          <mat-cell [ngClass]="'large'"  *matCellDef="let element"> {{element.email}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="perfiles">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Perfiles </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.roles}} </mat-cell>
                                        </ng-container>




                                        <mat-header-row *matHeaderRowDef="displayedColumnsPers"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPers;" style="cursor: pointer;" (click)="cambiardata(row, 'activos')"
                                          data-toggle="modal" data-target="#modal"></mat-row>
                                      </mat-table>

                                      <mat-paginator #paginatorPers="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                                      </mat-paginator>
                                    </div>
                                  </div>
                                  <!-- /.box-body -->
                                </div>

                              </div>
                            </div>

                            <div id="menu1" class="tab-pane fade">

                            
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <!-- /.box-body -->
              </div>

            </div>




          </div>



        </div>
      </div>
    </div>



  </section>


</div>


