<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Usuarios
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Componente central de busqueda -->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-header">
            <i class="fa fa-users"></i>

            <h3 class="box-title">Usuarios Sigelab</h3>

            <button style="float: right;" type="button" (click)="alistarPersona()" class="btn btn-danger">Nueva Persona
            </button>
          </div>
          <!-- /.box-header -->
          <div *ngIf="dataSourcePers.data.length == 0">
            <h3>El laboratorio no cuenta con usuarios activo</h3>
          </div>

          <div class="box-body" *ngIf="dataSourcePers.data">

            <div class="example-container mat-elevation-z8" *ngIf="dataSourcePers.data.length != 0">
              <div class="example-header">
                <mat-form-field>
                  <input style="outline: none;" matInput (keyup)="applyFilterPers($event.target.value)" placeholder="Buscar Personal">
                </mat-form-field>
              </div>

              <mat-table #tablePers #sortPers="matSort" [dataSource]="dataSourcePers" matSort>


                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                </ng-container>



                <ng-container matColumnDef="apellido">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="email">
                  <mat-header-cell [ngClass]="'large'" *matHeaderCellDef mat-sort-header> Email
                  </mat-header-cell>
                  <mat-cell [ngClass]="'large'" *matCellDef="let element"> {{element.email}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="perfiles">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Perfiles
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.roles}} </mat-cell>
                </ng-container>

                <!-- <ng-container matColumnDef="estado">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Estados
                  </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.active | activo}} </mat-cell>
                </ng-container> -->

                <mat-header-row *matHeaderRowDef="displayedColumnsPers"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsPers;" style="cursor: pointer;" (click)="cambiardata(row, 'activos')"></mat-row>
              </mat-table>

              <mat-paginator #paginatorPers="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
              </mat-paginator>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="row">

      <h2 class="text-center" *ngIf="!this.email">

        Seleccione un Usuario

      </h2>

      <h4 class="text-center" *ngIf="!this.idp && this.email && !this.nuevo">

        El usuario seleccionado no se encuentra registrado como personal de univalle.
        a continuación puede hacer el registro del usuario como personal de univalle.
      </h4>

      <div class="col-md-12">
        <div class="box box-danger" *ngIf="this.email || this.nuevo">
          <div class="box-header text-center">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Informacion de Usuarios</h3>

          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form *ngIf="!idp && !nuevo " id="form-dash2equip" class="" name="form-dash2equip">
              <fieldset>

                <!-- email del usuario -->
                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="this.email" name="email" matInput placeholder="Email">
                    </mat-form-field>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="control-label" for="listfacul">
                      <strong>Roles actuales :</strong>
                    </label>
                    <ul class="nav nav-stacked" *ngIf="this.arrayPract.length > 0">
                      <li *ngFor="let item of this.arrayPract; let i= index;" (click)="verLaboratoriosDelRol(item)">
                        <a>
                          <strong> {{item.nombre}} </strong>
                          <span (click)="quitarelemento( i )" class="puntero pull-right fa fa-trash"></span>
                        </a>
                      </li>
                    </ul>
                    <h5 *ngIf="this.arrayPract.length === 0"> El usuario tiene un rol de acceso básico.</h5>
                  </div>
                </div>

                <hr>

                <div class="form-group row">
                  <div class="col-md-10">
                    <mat-form-field>
                      <mat-select placeholder="Seleccioné nuevo rol" [(ngModel)]="this.rolSelect" class="alt" name="rolesSelect"
                        id="facul">
                        <mat-option *ngFor="let item of niveles" value="{{ item.id}}"> {{item.nombre}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <span class="input-group-btn">
                    <button *ngIf="this.rolSelect" (click)="agregarRol()" class="btn btn-success" type="button">
                      <i class="fa fa-plus"></i>
                    </button>
                  </span>
                </div>


                <div class="form-group row" style="margin-top:19px;">
                  <div class="col-md-12">

                    <label class="control-label" for="listfacul">
                      <strong>Inactivar usuario :</strong>
                    </label>

                    <div class="form-group">
                      <div class="col-sm-12">
                        <label class="switch">
                          <input (click)="alertDisabled('u')" name="active" [(ngModel)]="this.estado_u" id="activo"
                            type="checkbox">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>


              </fieldset>


            </form>

            <form *ngIf="idp || nuevo" id="form-dash2equip" class="" name="form-dash2equip">
              <fieldset>
                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <input name="fechacumple" matInput [(ngModel)]="this.cumple" [matDatepicker]="picker" placeholder="Fecha de nacimiento">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <input matInput [(ngModel)]="this.cedula" placeholder="Código o CC" type="text" name="codigocc">
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <input matInput [(ngModel)]="this.nombre" placeholder="Nombre" type="text" name="name">
                    </mat-form-field>
                  </div>

                </div>


                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput [(ngModel)]="this.apellido" placeholder="Apellido" name="apellidopersona">
                    </mat-form-field>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-select placeholder="Tipo" [(ngModel)]="type" class="alt" name="tipo" id="facul">
                        <mat-option *ngFor="let item of tipo" value="{{item}}"> {{item}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input matInput [(ngModel)]="this.email" placeholder="Email" name="email">
                    </mat-form-field>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <mat-form-field>
                      <mat-select placeholder="Genero" [(ngModel)]="genero" class="alt" name="genero" id="facul">
                        <mat-option value="Hombre"> Hombre </mat-option>
                        <mat-option value="Mujer"> Mujer </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>



                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="control-label" for="listfacul">
                      <strong>Roles actuales :</strong>
                    </label>
                    <ul class="nav nav-stacked" *ngIf="this.arrayPract.length > 0">
                      <li *ngFor="let item of this.arrayPract; let i= index;" (click)="verLaboratoriosDelRol(item)">
                        <a>
                          {{item.nombre}}
                          <span (click)="quitarelemento( i )" class="puntero pull-right fa fa-trash"></span>
                        </a>
                      </li>
                    </ul>
                    <h5 *ngIf="this.arrayPract.length === 0"> El usuario tiene un rol de acceso básico.</h5>
                  </div>
                </div>

                <hr>

                <div class="form-group row">
                  <div class="col-md-10">
                    <mat-form-field>
                      <mat-select placeholder="Seleccioné nuevo rol" [(ngModel)]="this.rolSelect" class="alt" name="rolesSelect"
                        id="facul">
                        <mat-option *ngFor="let item of niveles" value="{{ item.id}}"> {{item.nombre}} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <span class="input-group-btn">
                    <button *ngIf="this.rolSelect" (click)="agregarRol()" class="btn btn-success" type="button">
                      <i class="fa fa-plus"></i>
                    </button>
                  </span>
                </div>


              </fieldset>


            </form>
          </div>
          <div class="modal-footer">
            <button *ngIf="this.idp" type="button" (click)="actualizarPers()" class="btn btn-success">Guardar Cambios
              <i class="fa fa-refresh"></i>
            </button>


            <button *ngIf="!this.idp" type="button" (click)="crearPersona()" class="btn btn-success">Crear Persona
            </button>

          </div>
        </div>
      </div>




    </div>

  </section>


</div>


<!--  modal seleccionar laboratorio -->
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-build"></i>
            <h3 *ngIf="this.rolSelect !== 'PFhLR4X2n9ybaZU3CR75' " class="box-title">Seleccione el laboratorio al que
              desea asignar el rol.</h3>
            <h3 *ngIf="this.rolSelect  == 'PFhLR4X2n9ybaZU3CR75' " class="box-title">Seleccione una facultad a la que
              desea asignar el rol.</h3>

            <span style="color:#dd4b39; float:right; cursor: pointer;" class="glyphicon glyphicon-remove" (click)="cerrarModal('modal')"></span>
          </div>
          <!-- /.box-header -->
          <div class="box-body">

            <div *ngIf="this.rolSelect  != 'PFhLR4X2n9ybaZU3CR75' " class="example-container mat-elevation-z8">
              <div class="example-header">
                <mat-form-field>
                  <input style="outline: none;" matInput (keyup)="applyFilterLab($event.target.value)" placeholder="Buscar laboratorio">
                </mat-form-field>
              </div>

              <mat-table #tableFacil="matSort" [dataSource]="dataSourceFacil" matSort>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.cfName}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumnsFacil"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsFacil;" (click)="selection.toggle(row)">
                </mat-row>
              </mat-table>
            </div>

            <!-- muestra lista de facultades -->
            <div *ngIf="this.rolSelect == 'PFhLR4X2n9ybaZU3CR75' " class="example-container mat-elevation-z8">
              <div class="example-header">
                <mat-form-field>
                  <input style="outline: none;" matInput (keyup)="applyFilterFac($event.target.value)" placeholder="Buscar facultad.">
                </mat-form-field>
              </div>


              <mat-table #tableFacul [dataSource]="dataSourceFacul" matSort>

                <ng-container matColumnDef="select">
                  <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </mat-header-cell>
                  <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.facultyName}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumnsFacul"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsFacul;" style="cursor: pointer;" (click)="cambiarDataFacultad(row)"></mat-row>
              </mat-table>

              <mat-paginator #paginatorFacul="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
              </mat-paginator>
            </div>

            <h3 *ngIf="!this.rolSelect"> Debe Seleccionar un rol primero </h3>


          </div>
          <div *ngIf="!editar" class="modal-footer">
            <button type="button" (click)="agregarClienteRol()" class="btn btn-success">Asignar
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div *ngIf="editar" class="modal-footer">
            <button type="button" (click)="editarAsignarLaboratorio()" class="btn btn-success">Editar
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
