<div class="wrapper">
  <app-header></app-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <app-dash-center></app-dash-center>
  <!-- /.content-wrapper -->
  <footer class="main-footer" style="color:#727272">
    <div class="pull-right hidden-xs">
      <a href="https://github.com/siglab/sigelab/" style="color:#727272; text-decoration: none; font-size: 1.5rem" target="blank"><strong>2019 <i class="fa fa-github-square"></i></strong></a>
    </div>
    <strong>Sistema integrado de gestión estratégica de laboratorios (SigeLAB).</strong>
  </footer>
</div>
