<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">

    <li class="treeview">
      <a>
        <i class="fa fa-audio-description"></i>
        <span>Administrar solicitudes 3</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li style="width: 100%">
          <a [routerLink]="['solicitudes3']" (click)="enviaritem()">
            <i class="fa fa-circle-o"></i>Solicitudes</a>
        </li>
      </ul>
    </li>
  </ul>
