<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Laboratorios</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Componente central de busquedad -->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-header">
            <i class="fa fa-search"></i>

            <h3 class="box-title">Busquedad</h3>

          </div>

          <div class="box-body">

            <div class="box-body divScroll">
              <div class="table-responsive">
                <div class="example-container mat-elevation-z8">
                  <div class="example-header">
                    <mat-form-field>
                      <input style="outline: none;" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                  </div>

                  <mat-table #tableLabs #sort="matSort" [dataSource]="dataSource" matSort>

                    <!-- Position Column -->
                    <ng-container matColumnDef="nombre">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="escuela">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Escuela </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.escuela}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="investigacion">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Investigacion </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.inves}} </mat-cell>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="director">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Director </mat-header-cell>
                      <mat-cell *matCellDef="let element" > {{element.director}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="cambiardata(row)"></mat-row>
                  </mat-table>

                  <mat-paginator #paginator="matPaginator"
                    [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
                </mat-paginator>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!moduloinfo" class="row">
        <div class="col-md-12 col-lg-12">
            <div class="box box-danger">
                <div class="box-body">
                    <h3>SIN DATOS SELECCIONADOS</h3>
                </div>
            </div>

        </div>
    </div>

      <div *ngIf="moduloinfo" class="row">
        <div class="col-md-12 col-lg-12">
          <div class="box box-danger">
            <div class="box-body">

              <div class="row" style="margin-top:20px;">
                 <!-- INFORMACION LABORATORIO -->
                  <div class="col-md-6">
                    <div class="box box-danger">
                      <div class="box-header">
                        <i class="fa fa-address-card-o"></i>

                        <h3 class="box-title">Informacion Laboratorio</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <form  id="form-work" class="" name="form-work" action="#">
                          <fieldset>
                              <div class="form-group">
                                  <div class="col-md-12">
                                    <label class="control-label" for="dir"><strong>Direccion: {{itemsel.info.dir}}</strong></label>

                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12">
                                    <label class="control-label" for="tel"><strong>Telefono: {{itemsel.info.tel}}</strong></label>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12">
                                    <label class="control-label" for="cel"><strong>Celular: {{itemsel.info.cel}}</strong></label>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12">
                                    <label class="control-label" for="email"><strong>Email: {{itemsel.info.email}}</strong></label>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="col-md-12">
                                    <label class="control-label" for="estado"><strong>Estado: {{itemsel.estado}}</strong></label>
                                  </div>
                              </div>

                          </fieldset>
                        </form>

                      </div>

                    </div>
                  </div>
                <div class="col-md-6">
                  <div class="box box-danger">
                    <div class="box-header">
                      <i class="fa fa-map"></i>

                      <h3 class="box-title">Ubicación</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
                      <div id="mapaa" style="height:250px"></div>
                    </div>
                    <!-- /.box-body -->

                  </div>
                </div>

              </div>


              <div class="col-md-12">
                  <div class="box box-danger">
                    <div class="box-header">
                      <i class="fa fa-map"></i>

                      <h3 class="box-title">SERVICIOS</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body divScroll">
                      <div *ngIf="dataSource2.data.length == 0">
                        <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON SERVICIOS</h3>
                      </div>

                      <div class="example-container mat-elevation-z8" *ngIf="dataSource2.data.length != 0">
                        <div class="example-header">
                          <mat-form-field>
                            <input style="outline: none;" matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
                          </mat-form-field>
                        </div>

                        <mat-table #table2 #sort2="matSort" [dataSource]="dataSource2" matSort>

                          <!-- Position Column -->
                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                        </mat-table>

                        <mat-paginator #paginator2="matPaginator"
                          [pageSize]="5"
                          [pageSizeOptions]="[5, 10, 20]"
                          [showFirstLastButtons]="true">
                        </mat-paginator>
                      </div>

                  </div>
                    <!-- /.box-body -->

                  </div>
              </div>

              <div class="col-md-12">
                  <div class="box box-danger">
                    <div class="box-header">
                      <i class="fa fa-map"></i>

                      <h3 class="box-title">PRACTICAS</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="box-body">

                          <div class="box-body divScroll">
                              <div *ngIf="dataSource3.data.length == 0">
                                <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON SERVICIOS</h3>
                              </div>

                               <div class="example-container mat-elevation-z8" *ngIf="dataSource3.data.length != 0">
                                <div class="example-header">
                                  <mat-form-field>
                                    <input style="outline: none;" matInput (keyup)="applyFilter3($event.target.value)" placeholder="Filter">
                                  </mat-form-field>
                                </div>

                                <mat-table #tablepract #sort3="matSort" [dataSource]="dataSource3" matSort>


                                  <ng-container matColumnDef="nombre">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                  </ng-container>

                                  <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
                                </mat-table>

                                <mat-paginator #paginator3="matPaginator"
                                  [pageSize]="5"
                                  [pageSizeOptions]="[5, 10, 20]"
                                  [showFirstLastButtons]="true">
                              </mat-paginator>
                              </div>

                          </div>

                        </div>

                    </div>
                    <!-- /.box-body -->

                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </section>



</div>
