<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Laboratorios
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard laboratorios</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" *ngIf="itemsel | async; let itemsel">

    <!-- Componente central de busqueda -->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-header">
            <div class="form-group">
              <div class="col-md-12">

                <button data-toggle="modal" data-target="#modal1" style="float: right;" class="btn btn-danger" type="button">Agregar Personal</button>
              </div>
            </div>
          </div>

          <div class="box-body">

            <div class="col-md-12">
              <div>


                <div class="box-body">
                  <div class="box-body">

                    <ul class="nav nav-tabs">
                      <li>
                        <a class="tablas" data-toggle="tab" href="#home">
                          Activos</a>
                      </li>
                      <li>
                        <a class="tablas" data-toggle="tab" href="#menu1">
                          Inactivos</a>
                      </li>
                    </ul>

                    <div class="row" style="margin-top:20px;">
                      <div class="col-md-12">
                        <div class="box box-danger">
                          <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">

                              <div class="box-body" *ngIf="this.itemsel">

                                <div>
                                  <div class="box-header">
                                    <i class="fa fa-users"></i>

                                    <h3 class="box-title">Personal Vinculado</h3>
                                    <!--       <h3   class="box-title" style="float: right;">{{this.itemsel.personal.length}} PERSONAS</h3> -->
                                  </div>
                                  <!-- /.box-header -->
                                  <div *ngIf="dataSourcePers.data.length == 0">
                                    <h3>El laboratorio no cuenta con personal activo</h3>
                                  </div>

                                  <div class="box-body" *ngIf="dataSourcePers.data">

                                    <div class="example-container mat-elevation-z8" *ngIf="dataSourcePers.data.length != 0">
                                      <div class="example-header">
                                        <mat-form-field>
                                          <input style="outline: none;" matInput (keyup)="applyFilterPers($event.target.value)" placeholder="Buscar Personal">
                                        </mat-form-field>
                                      </div>

                                      <mat-table #tablePers #sortPers="matSort" [dataSource]="dataSourcePers" matSort>


                                        <ng-container matColumnDef="nombre">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                        </ng-container>



                                        <ng-container matColumnDef="email">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="tipo">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
                                        </ng-container>




                                        <mat-header-row *matHeaderRowDef="displayedColumnsPers"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPers;" style="cursor: pointer;" (click)="cambiardata(row, 'activos')"
                                          data-toggle="modal" data-target="#modal"></mat-row>
                                      </mat-table>

                                      <mat-paginator #paginatorPers="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                                      </mat-paginator>
                                    </div>
                                  </div>
                                  <!-- /.box-body -->
                                </div>

                              </div>
                            </div>

                            <div id="menu1" class="tab-pane fade">

                              <div class="box-body">

                                <div>

                                  <div class="box-header">

                                    <i class="fa fa-users"></i>

                                    <h3 class="box-title">Personal Vinculado</h3>
                                  </div>
                                  <!-- /.box-header -->
                                  <div *ngIf="dataSourcePersIn.data.length == 0">
                                    <h3>El laboratorio no cuenta con personal inactivo</h3>
                                  </div>
                                  <div class="box-body" *ngIf="dataSourcePersIn.data">



                                    <div class="example-container mat-elevation-z8" *ngIf="dataSourcePersIn.data.length > 0">
                                      <div class="example-header">
                                        <mat-form-field>
                                          <input style="outline: none;" matInput (keyup)="applyFilterPers($event.target.value)" placeholder="Buscar Personal">
                                        </mat-form-field>
                                      </div>

                                      <mat-table #tablePersIn #sortPers="matSort" [dataSource]="dataSourcePersIn" matSort>


                                        <ng-container matColumnDef="nombre">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="email">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="tipo">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.tipo}} </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumnsPersIn"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsPersIn;" style="cursor: pointer;" (click)="cambiardata(row, 'inactivos')"
                                          data-toggle="modal" data-target="#modal"></mat-row>
                                      </mat-table>

                                      <mat-paginator #paginatorPersIn="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                                      </mat-paginator>
                                    </div>
                                  </div>
                                  <!-- /.box-body -->
                                </div>

                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <!-- /.box-body -->
              </div>

            </div>




          </div>



        </div>
      </div>
    </div>



  </section>


</div>

<!--  modal editar informacion del personal -->
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Informacion del Personal</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form id="form-dash2equip" class="" name="form-dash2equip">
              <fieldset>
                <div class="form-group row">
                  \
                  <div class="col-md-12">
                    <label class="col-md-2 control-label" for="nombreprub">
                      <strong>Nombre :</strong>
                    </label>
                    <div class="col-md-10">
                      <input [(ngModel)]="this.nombre" id="escuelaedit" name="nombre" class="form-control" type="text">
                    </div>
                  </div>

                </div>



                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="control-label col-sm-2" for="nombreprub">
                      <strong>Apellidos :</strong>
                    </label>
                    <div class="col-md-10">
                      <input [(ngModel)]="this.apellido" id="escuelaedit" name="apellido" class="form-control" type="text">
                    </div>

                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="control-label col-sm-2" for="nombreprub">
                      <strong>tipo:</strong>
                    </label>
                    <div class="col-md-10">
                      <input [(ngModel)]="this.rol" id="escuelaedit" name="rol" class="form-control" type="text">
                    </div>
                  </div>
                </div>



                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="control-label col-sm-2" for="estadoserv">
                      <strong>Email:</strong>
                    </label>

                    <div class="col-md-10">
                      <input [(ngModel)]="this.email" id="escuelaedit" name="email" class="form-control" type="email">
                    </div>
                  </div>
                </div>


                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="control-label col-sm-2" for="estadoserv">
                      <strong>Rol:</strong>
                    </label>
                    <div class="col-md-10">

                      <select class="form-control" [(ngModel)]="rolc" name="estado">
                        <option value="editar"> editar </option>
                        <option value="nivel2"> nivel2 </option>
                        <option </select>
                    </div>
                  </div>


                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <label class="switch">
                          <input name="active" [(ngModel)]="this.estado" id="activo" type="checkbox" checked>
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div>

                  </div>
                </div>



              </fieldset>


            </form>




          </div>
          <div class="modal-footer">
            <button type="button" (click)="actualizarPers()" class="btn btn-danger">Guardar</button>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!-- modal agregar nuevo personal al laboratorio -->

<div class="modal fade" id="modal1" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Agregar Personal</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form id="form-dash2equip" class="" name="form-dash2equip">
              <fieldset>

                <div class="form-group has-info" [ngClass]="{ 'has-error': this.dispo == false, 'has-success': this.dispo }">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Email:</strong>
                    </label>
                    <input (focusout)="emailcheck($event)" [(ngModel)]="this.email" id="email" name="email" class="form-control" type="email">
                    <span class="help-block"> {{status}}</span>
                  </div>
                </div>


                  <!-- ocultar form  para validar si ya existe -->
              <div *ngIf="dispo" >

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Fecha nacimiento :</strong>
                    </label>
                    <input [(ngModel)]="this.person.cfBirthdate" id="escuelaedit" name="fecha" class="form-control" type="date">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Nombre :</strong>
                    </label>
                    <input [(ngModel)]="this.person.cfFirstNames" id="escuelaedit" name="firstname" class="form-control" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Apellidos :</strong>
                    </label>
                    <input [(ngModel)]="this.person.cfFamilyNames" id="escuelaedit" name="othersname" class="form-control" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong> Nivel:</strong>
                    </label>
                    <select class="form-control" [(ngModel)]="this.person.lvl" name="estado">
                      <option value="auxiliar">Auxiliar </option>
                      <option value="analista">Analista</option>
                      <option value="analista">Administrativo</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong> Tipo personal:</strong>
                    </label>
                    <select class="form-control" [(ngModel)]="this.person.type" name="estado">
                      <option value="funcionario">Funcionario </option>
                      <option value="estudiante">Estudiante</option>
                      <option value="contratista">Contratista</option>
                      <option value="otro">Otro</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Genero:</strong>
                    </label>
                    <select class="form-control" [(ngModel)]="this.person.cfGender" name="estado">
                      <option value="Hombre">Hombre </option>
                      <option value="Mujer">Mujer</option>

                    </select>
                  </div>


                </div>

            </div>



              </fieldset>


            </form>




          </div>
          <div class="modal-footer">
            <button *ngIf="!addP" type="button" (click)="setPers()" class="btn btn-danger">Guardar</button>
            <button *ngIf="addP" type="button" (click)="addLabPers( this.addP)" class="btn btn-success">Vincular</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>















<!--
<div class="col-md-6">
    <label class="control-label" for="emailedit">
        <strong>Estado:</strong>
      </label>
    <select   class="form-control" [(ngModel)]="estado" name = "estado"  >
        <option value="true"> Activo </option>
        <option value="false">Inactivo</option>

      </select>
</div>


</div> -->
