.divScroll {
    overflow-y: scroll;
    height: 200px;
  }
  divScroll::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 5px;
      background-color: #F5F5F5;
  }
  .divScroll::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  .divScroll::-webkit-scrollbar-thumb
  {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #D62929;
  }
  .sombra:hover{
    background-color: #ECF1F3;
    cursor: pointer;
  }

  .divScroll1 {
    overflow-y: scroll;
    height: 150px;
  }
  divScroll1::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 5px;
      background-color: #F5F5F5;
  }
  .divScroll1::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  .divScroll1::-webkit-scrollbar-thumb
  {
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #D62929;
  }

  /* esstilos tabs */

  .tablas:hover{
    background-color: rgba(253, 251, 251, 0.979);
  }
  .tablas{
    background-color: rgba(184, 16, 16, 0.938);border-color: rgb(87, 83, 83);color: rgb(255, 255, 255);font-weight: bold;
  }
/* estilos material data table */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}


.customWidthClass{
  flex: 0 0 70px;
}
