<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Laboratorios
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard laboratorios</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content" *ngIf="itemsel | async; let itemsel">

    <!-- Componente central de busqueda -->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-header">
            <div class="form-group">
              <div class="col-md-12">
                <button style="float: right;" (click) = "down()"  class="btn btn-danger" type="button">Nuevo practica, prueba y/o ensayo</button>
              </div>
            </div>
          </div>

          <div class="box-body">
            <ul class="nav nav-tabs">
              <li>
                <a class="tablas" data-toggle="tab" href="#home">
                  Activos</a>
              </li>
              <li>
                <a class="tablas" data-toggle="tab" href="#menu1">
                  Inactivos</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <div class="col-md-12" style="margin-top:20px;">
                  <div class="box box-danger">
                    <div class="box-header">
                      <i class="fa fa-book"></i>

                      <h3 class="box-title">PRACTICAS ACTIVAS SEMESTRE</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                      <div class="example-container mat-elevation-z8" *ngIf="dataSourcePrac.data.length > 0">
                        <div class="example-header">
                          <mat-form-field>
                            <input style="outline: none;" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Practicas">
                          </mat-form-field>
                        </div>

                        <mat-table #tablePrac #sortPrac="matSort" [dataSource]="dataSourcePrac" matSort>


                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="programacion.semestre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Semestre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.programacion.semestre}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="programacion.estudiantes">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Numero estudiantes </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.programacion.estudiantes}} </mat-cell>
                          </ng-container>



                          <ng-container matColumnDef="activo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> estado </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.activo}} </mat-cell>
                          </ng-container>





                          <mat-header-row *matHeaderRowDef="displayedColumnsPrac"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumnsPrac;" style="cursor: pointer;" (click)="cambiardata(row)" data-toggle="modal"
                            data-target="#myModal3"></mat-row>
                        </mat-table>

                        <mat-paginator #paginatorPrac="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                      </div>


                    </div>
                    <!-- /.box-body -->
                  </div>

                </div>
              </div>

              <div id="menu1" class="tab-pane fade">
                <div class="col-md-12" style="margin-top:20px;">
                  <div class="box box-danger">
                    <div class="box-header">
                      <i class="fa fa-book"></i>

                      <h3 class="box-title">PRACTICAS INACTIVAS SEMESTRE</h3>
                    </div>

                    <div *ngIf="dataSourcePracIn.data.length === 0">
                      <h3>El laboratorio no cuenta con practicas inactivas </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                      <div class="example-container mat-elevation-z8" *ngIf="dataSourcePracIn.data.length > 0">
                        <div class="example-header">
                          <mat-form-field>
                            <input style="outline: none;" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Practicas">
                          </mat-form-field>
                        </div>

                        <mat-table #tablePrac #sortPracIn="matSort" [dataSource]="dataSourcePracIn" matSort>


                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="programacion.semestre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Semestre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.programacion.semestre}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="programacion.estudiantes">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Numero estudiantes </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.programacion.estudiantes}} </mat-cell>
                          </ng-container>



                          <ng-container matColumnDef="activo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> estado </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.activo}} </mat-cell>
                          </ng-container>





                          <mat-header-row *matHeaderRowDef="displayedColumnsPracIn"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumnsPracIn;" style="cursor: pointer;" (click)="cambiardata(row)" data-toggle="modal" data-target="#myModal3"></mat-row>
                        </mat-table>

                        <mat-paginator #paginatorPracIn="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                      </div>


                    </div>
                    <!-- /.box-body -->
                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- prueba de stepp -->
      <div class="col-md-12" style="margin-top:20px;">
        <div class="box box-danger">
          <div class="box-header">
            <i class="fa fa-plus"></i>

            <h3 class="box-title">Agregar Nueva Practica</h3>
          </div>


          <!-- /.box-header -->
          <div class="box-body">
            <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
              <mat-step>
                <form >
                  <ng-template matStepLabel>Informacion basica</ng-template>
                  <mat-form-field>
                    <input name="nombrep" [(ngModel)]="nameP"  matInput placeholder="nombre practica"  >
                  </mat-form-field>

                  <mat-form-field>
                    <input name="code"   [(ngModel)]="code"  matInput placeholder="Codigo de la materia" >
                  </mat-form-field>

                  <mat-form-field>
                      <input name="semestre"  [(ngModel)]="programming.semester"  matInput placeholder="Semestre" >
                    </mat-form-field>

                    <mat-form-field>
                        <input name="numeroes"  [(ngModel)]="programming.noStudents"  matInput placeholder="Numero de estudiantes" >
                      </mat-form-field>

                  <div>
                    <button mat-button matStepperNext (click)="initCalendar(this.events)" class="btn btn-success">siguiente</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Horario de practica</ng-template>


                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-calendar"></i>

                    <h3 class="box-title">CALENDARIO</h3>


                  </div>
                  <button  class="btn btn-success text-center" type="button" data-toggle="modal" data-target="#myModal2"> Agregar Fecha
                    <i class="fa fa-plus"></i>
                  </button>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="cal" id="cal"> </div>
                  </div>
                </div>
                <div>
                  <button class="btn btn-success" mat-button matStepperPrevious> <i class="fa fa-arrow-left"></i> Anterior</button>
                  <button class="btn btn-success" mat-button matStepperNext>Siguiente <i class="fa fa-arrow-right"></i>  </button>
                </div>

              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Vincular Equipos</ng-template>

                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-laptop"></i>

                    <h3 class="box-title">EQUIPOS VINCULADOS</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="example-container" *ngIf="dataSourceEquip.data.length > 0">

                      <mat-table #tableEquip [dataSource]="dataSourceEquip">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>

                        <!-- nombre Column -->
                        <ng-container matColumnDef="nombre">
                          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumnsEquip"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsEquip;" (click)="selection.toggle(row)">
                        </mat-row>
                      </mat-table>

                    </div>

                  </div>

                  <!-- /.box-body -->
                </div>

                <div>
                  <button class="btn btn-success" mat-button matStepperPrevious> <i class="fa fa-arrow-left"></i>  Anterior</button>
                  <button class="btn btn-success" mat-button matStepperNext>Siguiente <i class="fa fa-arrow-right"></i> </button>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Vincular Espacios</ng-template>

                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-map"></i>

                    <h3 class="box-title">ESPACIOS VINCULADOS</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="example-container" *ngIf="dataSourceEsp.data.length > 0">

                      <mat-table #tableEsp [dataSource]="dataSourceEsp">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                          <mat-header-cell [ngClass]="'customWidthClass'" *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                          </mat-header-cell>
                          <mat-cell [ngClass]="'customWidthClass'" *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                          </mat-cell>
                        </ng-container>

                        <!-- nombre Column -->
                        <ng-container matColumnDef="nombre">
                          <mat-header-cell *matHeaderCellDef> capacidad </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="freeArea">
                          <mat-header-cell *matHeaderCellDef> Area libre </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.freeArea}} </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumnsEsp"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsEsp;" (click)="selection.toggle(row)">
                        </mat-row>
                      </mat-table>

                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>

                <div>
                  <button class="btn btn-success" mat-button matStepperPrevious> <i class="fa fa-arrow-left"></i> Anterior</button>
                  <button (click)="addPractice()" class="btn btn-danger" mat-button matStepperNext>Guardar</button>
                </div>
              </mat-step>
            </mat-horizontal-stepper>


          </div>
        </div>
      </div>
      <!-- prueba de stepp -->
    </div>



  </section>





</div>

<!-- MODAL PARA NUEVAS PRACTICAS -->

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-body">
          <div class="box box-danger">
            <div class="box-header text-center">
              <i class="fa fa-address-card-o"></i>

              <h1 class="box-title">Nuevo Evento</h1>

            </div>
            <!-- /.box-header -->
            <div class="box-body">





                    <div class="form-group">
                      <div class='col-md-6'>
                        <label for="nombre" class="col-sm-4 col-form-label">nombre:</label>
                        <input name="nombre" [(ngModel)]="this.evento.title" type="text"  class="form-control" id="edificio">
                      </div>
                      <div class='col-md-6'>
                          <label for="edificio" class="col-sm-4 col-form-label">color:</label>
                          <input name="color" [(ngModel)]="this.evento.color" type="color" class="form-control" id="edificio">
                        </div>
                    </div>


                  <div class="form-group">
                    <div class='col-md-12'>
                      <label for="fecha" class="col-sm-4 col-form-label">fecha:</label>
                      <input name="fecha" [(ngModel)]="this.evento.start" type="date"  class="form-control" id="espac">
                    </div>
                  </div>





            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button (click)="agregarEvento()"   style="float: center;" type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa fa-plus"></i> Agregar</button>
        </div>

      </div>

    </div>
  </div>



<!--  modal editar informacion del personal -->
<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-users"></i>
            <h3 class="box-title">Informacion del Personal</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form id="form-dash2equip" class="" name="form-dash2equip">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Nombre :</strong>
                    </label>
                    <input   id="escuelaedit" name="nombre" class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                      <label class="control-label" for="nombreprub">
                        <strong>Apellidos :</strong>
                      </label>
                      <input    id="escuelaedit" name="apellido" class="form-control" type="text">
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="nombreprub">
                          <strong>tipo:</strong>
                        </label>
                        <input   id="escuelaedit" name="rol" class="form-control" type="text">
                      </div>
                    </div>



                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Email:</strong>
                    </label>
                    <input    id="escuelaedit" name="email" class="form-control" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Estado:</strong>
                    </label>
                     <select    class="form-control"  name = "estado"  >
                      <option   value="true">  Activo </option>
                      <option   value="false"> Inactivo</option>

                    </select>
                  </div>


                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Rol:</strong>
                    </label>
                     <select    class="form-control"  name = "estado"  >
                      <option   value="editar">  editar  </option>
                      <option   value="nivel2">  nivel2  </option>
                      

                    </select>
                  </div>


                </div>



              </fieldset>


            </form>




          </div>
          <div class="modal-footer">
            <button type="button"   class="btn btn-danger">Guardar</button>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<!-- MODAL PARA VER INFORMACION DE PRACTICAS -->
<div class="modal fade" id="myModal3" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-address-card-o"></i>

            <h1 class="box-title">PRACTICA SELECCIONADA</h1>

          </div>
          <!-- /.box-header -->
          <div class="box-body" *ngIf="itemsel | async; let itemsel">

            <div class="col-md-6">

              <div class="box box-danger">
                <div class="box-header">

                  <h1 class="box-title">Informacion de la Practica</h1>

                </div>
                <!-- /.box-header -->
                <div class="box-body">

                  <form id="form-work" class="" name="form-work" action="#">
                    <fieldset>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ccpas">
                            <strong>Nombre Practica:</strong>
                          </label>

                          <input name="nombre" [(ngModel)]="this.practica.nombre"  type="text" class="form-control" id="nombre">

                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ccpas">
                            <strong>Numero Estudiantes:</strong>
                          </label>

                          <input name="numeroEstudiantes" [(ngModel)]="this.practica.numeroEst"  type="text" class="form-control" id="nombre">

                        </div>
                      </div>


                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ccpas">
                            <strong>Semestre:</strong>
                          </label>

                          <input name="semestre" [(ngModel)]="this.practica.semestre"  type="text" class="form-control" id="nombre">

                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12">

                            <label   style="margin-top: 20px;" class="switch">
                              <input name="active" [(ngModel)]="this.practica.estado" id="activo" type="checkbox" checked>
                              <span class="slider round"></span>
                            </label>


                        </div>
                      </div>



                      <div  *ngFor="let item of this.practica.space">
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ciuor">
                            <strong>Campus: </strong>
                          </label>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ciudes">
                            <strong>Edificio: {{item.spaceData.building}}  </strong>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ciudes">
                            <strong>Planta: {{item.spaceData.floor}}  </strong>
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="ciudes">
                            <strong>Espacio: {{item.spaceData.place}}  </strong>
                          </label>
                        </div>
                      </div>
                    </div>



                    </fieldset>
                  </form>

                  <div class="form-group" style="margin-top: 20px;">
                    <div class="col-md-12">
                      <button class="btn btn-danger"  data-toggle="modal" data-target="#practicaprog"  type="button">Programacion</button>

                      <button class="btn btn-success" (click)= "actualizarPractica()"  type="button">Guardar</button>
                    </div>
                  </div>

                </div>

              </div>
            </div>


            <div class="col-md-6">
              <div class="box box-danger">
                <div class="box-header">
                  <i class="fa fa-map"></i>

                  <h3 class="box-title">EQUIPOS VINCULADOS</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="box-body divScroll">
                    <div *ngIf="this.practica.equipos.length == 0">
                      <h3>Esta practica no tiene equipos asociados</h3>
                    </div>
                    <div *ngIf="this.practica.equipos.length != 0" class="list-group">
                      <table class=" table row-border hover table-condensed">
                        <thead>
                          <tr>
                            <th>Nombre de equipos</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr style="cursor:pointer" *ngFor="let item of this.practica.equipos">
                            <td>
                              {{item.nombre}}
                            </td>

                          </tr>
                        </tbody>

                      </table>

                    </div>

                  </div>
                </div>
                <!-- /.box-body -->
              </div>


              <div *ngIf="this.interfaz" class="form-group text-center" style="margin-top: 20px;">
                <div class="col-md-12">
                  <button class="btn2 btn-danger btn-lg danger" type="button">Reactivar</button>
                </div>
              </div>

            </div>


          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<!-- modal de horario de practica -->
<div class="modal fade" id="practicaprog" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-calendar"></i>

            <h1 class="box-title">Programacion de la Practica</h1>

          </div>
          <!-- /.box-header -->
          <div class="box-body">

            <div class= "cal" id="cal2">
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
