<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Laboratorios
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard laboratorios</li>
    </ol>
  </section>

   <!-- Main content -->
   <section class="content" *ngIf="itemsel | async; let itemsel">

    <!-- Componente central de busqueda -->

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-header">
            <i class="fa fa-search"></i>
            <h3 class="box-title">{{itemsel.nombre.nom1 + itemsel.nombre.nom2}}</h3>
          </div>

          <div class="box-body">
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-aqua">
                    <i class="fa fa-thumbs-o-up"></i>
                  </span>

                  <div class="info-box-content">
                    <span class="info-box-text">SERVICIOS
                      <br>ACTIVOS</span>
                    <span class="info-box-number">{{itemsel.servicios.length}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-red">
                    <i class="fa fa-suitcase"></i>
                  </span>

                  <div class="info-box-content">
                    <span class="info-box-text">PROYECTOS
                      <br>ACTIVOS</span>
                    <span class="info-box-number">{{itemsel.proyectos.length}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->

              <!-- fix for small devices only -->
              <div class="clearfix visible-sm-block"></div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-green">
                    <i class="fa fa-group"></i>
                  </span>

                  <div class="info-box-content">
                    <span class="info-box-text">PERSONAL
                      <br>ACTIVO</span>
                    <span class="info-box-number">{{itemsel.personal.length}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                  <span class="info-box-icon bg-yellow">
                    <i class="glyphicon glyphicon-ok"></i>
                  </span>

                  <div class="info-box-content">
                    <span class="info-box-text">PRACTICAS
                      <br>ACTIVAS</span>
                    <span class="info-box-number">{{itemsel.practicas.length}}</span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger">
          <div class="box-body">

            <div class="row" style="margin-top:20px;">
              <!-- INFORMACION LABORATORIO -->
              <div class="col-md-6">
                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-address-card-o"></i>

                    <h3 class="box-title">Informacion Laboratorio</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <form *ngIf="itemsel" id="form-work" class="" name="form-work" action="#">
                      <fieldset>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="nombre">
                              <strong>Nombre:</strong> {{this.itemsel.nombre.nom1 + this.itemsel.nombre.nom2}}</label>

                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="escuela">
                              <strong>Escuela:</strong> {{this.itemsel.escuela}}</label>

                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="espacio">
                              <strong>Encargado:</strong> {{this.itemsel.director}}</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ciudes">
                              <strong>Email:</strong> {{this.itemsel.info.email}}</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="nac">
                              <strong>Telefono:</strong> {{this.itemsel.info.tel}}</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ccpas">
                              <strong>Direccion:</strong> {{this.itemsel.info.dir}}</label>

                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12" style="margin-left: 70%; max-width: 120px;">
                            <button class="btn2 btn-danger btn-lg btn-block danger" type="button" data-toggle="modal" (click)="limpiarData()" data-target="#modal2">Editar</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="box box-danger">

                  <!-- /.box-header -->
                  <div class="box-body">

                    <div class="col-md-12">
                      <div class="box box-danger">
                        <div class="box-header">
                          <i class="fa fa-map"></i>

                          <h3 class="box-title">Equipos Vinculados</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                          <div *ngIf="dataSourceEquipos.data.length == 0">
                            <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON SERVICIOS</h3>
                          </div>

                          <div class="example-container mat-elevation-z8" *ngIf="dataSourceEquipos.data.length != 0">
                            <div class="example-header">
                              <mat-form-field>
                                <input style="outline: none;" matInput (keyup)="applyFilterEquipos($event.target.value)" placeholder="Buscar Equipo">
                              </mat-form-field>
                            </div>

                            <mat-table #tableEquipos #sortEquipos="matSort" [dataSource]="dataSourceEquipos" matSort>


                              <ng-container matColumnDef="nombre">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                              </ng-container>

                              <mat-header-row *matHeaderRowDef="displayedColumnsEquipos"></mat-header-row>
                              <mat-row *matRowDef="let row; columns: displayedColumnsEquipos;" style="cursor: pointer;" (click)="cambiardata(row, 'equipos')"
                                data-toggle="modal" data-target="#modal1"></mat-row>
                            </mat-table>

                            <mat-paginator #paginatorEquipos="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                            </mat-paginator>
                          </div>
                        </div>
                        <!-- /.box-body -->
                      </div>

                    </div>


                    <div class="col-md-12">
                      <div class="box box-danger">
                        <div class="box-header">
                          <i class="fa fa-map"></i>

                          <h3 class="box-title">Personal Vinculado</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="box-body">
                            <div *ngIf="dataSourcePersonal.data.length == 0">
                              <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON PERSONAL</h3>
                            </div>

                            <div class="example-container mat-elevation-z8" *ngIf="dataSourcePersonal.data.length != 0">
                              <div class="example-header">
                                <mat-form-field>
                                  <input style="outline: none;" matInput (keyup)="applyFilterPersonal($event.target.value)" placeholder="Buscar Personal">
                                </mat-form-field>
                              </div>

                              <mat-table #tablePersonal #sortPersonal="matSort" [dataSource]="dataSourcePersonal" matSort>


                                <ng-container matColumnDef="nombre">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsPersonal"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsPersonal;" style="cursor: pointer;" (click)="cambiardata(row, 'personal')"
                                  data-toggle="modal" data-target="#modal1"></mat-row>
                              </mat-table>

                              <mat-paginator #paginatorPersonal="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                        <!-- /.box-body -->

                      </div>
                    </div>


                  </div>
                  <!-- /.box-body -->

                </div>
              </div>

            </div>

            <div class="row" style="margin-top:20px;">
              <!-- INFORMACION LABORATORIO -->
              <div class="col-md-6">
                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-address-card-o"></i>

                    <h3 class="box-title">Informacion de espacios asociados al Laboratorio</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body divScroll">
                    <form id="form-work" class="" name="form-work" action="#">
                      <fieldset>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ccpas">
                              <strong>Direccion: {{this.itemsel.info.dir}}</strong>
                            </label>

                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="nac">
                              <strong>Telefono: {{this.itemsel.info.tel}}</strong>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ciuor">
                              <strong>Celular: {{this.itemsel.info.cel}}</strong>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ciudes">
                              <strong>Email: {{this.itemsel.info.email}}</strong>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ccpas">
                              <strong>Direccion: {{this.itemsel.info.dir}}</strong>
                            </label>

                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="nac">
                              <strong>Telefono: {{this.itemsel.info.tel}}</strong>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ciuor">
                              <strong>Celular: {{this.itemsel.info.cel}}</strong>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="ciudes">
                              <strong>Email: {{this.itemsel.info.email}}</strong>
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-12" style="margin-left: 70%; max-width: 140px;">
                            <button class="btn2 btn-danger btn-lg btn-block danger" type="button">Ver mas</button>
                          </div>
                        </div>

                      </fieldset>
                    </form>

                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="box box-danger">

                  <!-- /.box-header -->
                  <div class="box-body">

                    <div class="col-md-12">
                      <div class="box box-danger">
                        <div class="box-header">
                          <i class="fa fa-map"></i>

                          <h3 class="box-title">Servicios</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="box-body">
                            <div *ngIf="dataSourceServicios.data.length == 0">
                              <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON SERVICIOS</h3>
                            </div>

                            <div class="example-container mat-elevation-z8" *ngIf="dataSourceServicios.data.length != 0">
                              <div class="example-header">
                                <mat-form-field>
                                  <input style="outline: none;" matInput (keyup)="applyFilterServicios($event.target.value)" placeholder="Buscar Servicios">
                                </mat-form-field>
                              </div>

                              <mat-table #tableServicios #sortServicios="matSort" [dataSource]="dataSourceServicios" matSort>


                                <ng-container matColumnDef="nombre">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsServicios"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsServicios;" style="cursor: pointer;" (click)="cambiardata(row, 'servicios')"
                                  data-toggle="modal" data-target="#modal1"></mat-row>
                              </mat-table>

                              <mat-paginator #paginatorServicios="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                        <!-- /.box-body -->
                      </div>

                    </div>


                    <div class="col-md-12">
                      <div class="box box-danger">
                        <div class="box-header">
                          <i class="fa fa-map"></i>

                          <h3 class="box-title">Proyectos</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="box-body">
                            <div *ngIf="dataSourceProyectos.data.length == 0">
                              <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON PROYECTOS</h3>
                            </div>

                            <div class="example-container mat-elevation-z8" *ngIf="dataSourceProyectos.data.length != 0">
                              <div class="example-header">
                                <mat-form-field>
                                  <input style="outline: none;" matInput (keyup)="applyFilterProyectos($event.target.value)" placeholder="Buscar Proyectos">
                                </mat-form-field>
                              </div>

                              <mat-table #tableProyectos #sortProyectos="matSort" [dataSource]="dataSourceProyectos" matSort>


                                <ng-container matColumnDef="nombre">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsProyectos"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsProyectos;" style="cursor: pointer;" (click)="cambiardata(row, 'proyectos')"
                                  data-toggle="modal" data-target="#modal1"></mat-row>
                              </mat-table>

                              <mat-paginator #paginatorProyectos="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                        <!-- /.box-body -->

                      </div>
                    </div>



                  </div>
                  <!-- /.box-body -->

                </div>
              </div>

            </div>


            <div class="row" style="margin-top:20px;">

              <div class="col-md-6">
                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-map"></i>

                    <h3 class="box-title">Practicas</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="box-body">
                      <div *ngIf="dataSourcePracticas.data.length == 0">
                        <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON PRACTICAS</h3>
                      </div>

                      <div class="example-container mat-elevation-z8" *ngIf="dataSourcePracticas.data.length != 0">
                        <div class="example-header">
                          <mat-form-field>
                            <input style="outline: none;" matInput (keyup)="applyFilterPracticas($event.target.value)" placeholder="Buscar Practicas">
                          </mat-form-field>
                        </div>

                        <mat-table #tablePracticas #sortPracticas="matSort" [dataSource]="dataSourcePracticas" matSort>


                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumnsPracticas"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumnsPracticas;" style="cursor: pointer;" (click)="cambiardata(row, 'practicas')"
                            data-toggle="modal" data-target="#modal1"></mat-row>
                        </mat-table>

                        <mat-paginator #paginatorPracticas="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>

              </div>


              <div class="col-md-6">
                <div class="box box-danger">
                  <div class="box-header">
                    <i class="fa fa-map"></i>

                    <h3 class="box-title">Solicitudes sin atender</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <div class="box-body">
                      <div *ngIf="dataSourcePracticas.data.length == 0">
                        <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON SOLICITUDES</h3>
                      </div>

                      <div class="example-container mat-elevation-z8" *ngIf="dataSourceSolicitudes.data.length != 0">
                        <div class="example-header">
                          <mat-form-field>
                            <input style="outline: none;" matInput (keyup)="applyFilterSolicitudes($event.target.value)" placeholder="Buscar Solicitudes">
                          </mat-form-field>
                        </div>

                        <mat-table #tableSolicitudes #sortSolicitudes="matSort" [dataSource]="dataSourceSolicitudes" matSort>


                          <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.nombreServ}} </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="displayedColumnsSolicitudes"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumnsSolicitudes;" style="cursor: pointer;" (click)="cambiardata(row, 'solicitudes')"
                            data-toggle="modal" data-target="#modal1"></mat-row>
                        </mat-table>

                        <mat-paginator #paginatorSolicitudes="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                        </mat-paginator>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

 

</div>


<div class="modal fade" id="modal1" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body">
        <div class="box box-danger">
          <div class="box-header text-center">
            <i class="fa fa-address-card-o"></i>

            <h3 class="box-title">Informacion de {{tablesel}}</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form *ngIf="tablesel == 'equipos'" id="form-dash2equip" class="" name="form-dash2equip" action="#">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Nombre :</strong> {{seleccionado.nombre}}</label>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Precio:</strong> {{seleccionado.precio}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Estado:</strong> {{seleccionado.activo}}</label>
                  </div>
                </div>
              </fieldset>
            </form>

            <form *ngIf="tablesel == 'servicios'" id="form-dash2serv" class="" name="form-dash2serv" action="#">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Nombre :</strong> {{seleccionado.nombre}}</label>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Descripcion:</strong> {{seleccionado.descripcion}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Precio:</strong> {{seleccionado.precio}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Estado:</strong> {{seleccionado.activo}}</label>
                  </div>
                </div>
              </fieldset>
            </form>

            <form *ngIf="tablesel == 'personal'" id="form-dash2epers" class="" name="form-dash2epers" action="#">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombrePers">
                      <strong>Nombre :</strong> {{seleccionado.nombre}}</label>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombrePers">
                      <strong>Email:</strong> {{seleccionado.email}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombrePers">
                      <strong>Estado:</strong> {{seleccionado.activo}}</label>
                  </div>
                </div>
              </fieldset>
            </form>

            <form *ngIf="tablesel == 'proyectos'" id="form-dash2proy" class="" name="form-dash2proy" action="#">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="idProy">
                      <strong>ID :</strong> {{seleccionado.id}}</label>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreProy">
                      <strong>Nombre:</strong> {{seleccionado.nombre}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="descripProy">
                      <strong>Descripcion:</strong> {{seleccionado.descripcion}}</label>
                  </div>
                </div>
              </fieldset>
            </form>


            <form *ngIf="tablesel == 'practicas'" id="form-workprub" class="" name="form-workprub" action="#">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombreprub">
                      <strong>Nombre :</strong> {{seleccionado.nombre}}</label>

                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadoserv">
                      <strong>Estado:</strong> {{seleccionado.activo}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12" style="margin-top: 20px;">
                    <label class="control-label">
                      <strong style="color: red;">PROGRAMACION</strong>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="cantest">
                      <strong>N* Estudiantes:</strong> {{seleccionado.programacion.estudiantes}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="semestre">
                      <strong>Semestre:</strong> {{seleccionado.programacion.semestre}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="diahora">
                      <strong>Dia y Hora:</strong> {{seleccionado.programacion.diahora}}</label>
                  </div>
                </div>
              </fieldset>
            </form>

            <form *ngIf="tablesel == 'solicitudes'" id="form-dash2sol" class="" name="form-dash2sol" action="#">
              <fieldset>
                <div class="form-group">
                  <div class="col-md-12" style="margin-top: 20px;">
                    <label class="control-label">
                      <strong style="color: red;">INFORMACION SERVICIO</strong>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="nombresol">
                      <strong>Nombre :</strong> {{seleccionado.nombreServ}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadosol">
                      <strong>Descripcion:</strong> {{seleccionado.descripcionServ}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadosol">
                      <strong>Precio:</strong> {{seleccionado.precioServ}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12" style="margin-top: 20px;">
                    <label class="control-label">
                      <strong style="color: red;">INFORMACION DE QUIEN SOLICITA EL SERVICIO</strong>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadosol">
                      <strong>Email:</strong> {{seleccionado.email}}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12" style="margin-top: 20px;">
                    <label class="control-label">
                      <strong style="color: red;">INFORMACION DE LA SOLICITUD</strong>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <label class="control-label" for="estadosol">
                      <strong>Estado de la solicitud:</strong> {{seleccionado.estado}}</label>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>


<div class="modal fade" id="modal2" role="dialog">
  <div [ngClass]="{'modal-dialog':true, 'modal-md':moduloPermiso, 'modal-lg':moduloNivel2}">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
          <div class="box box-danger">
              <div class="box-header text-center">
                <i class="fa fa-address-card-o"></i>
    
                <h3 class="box-title">Panel para editar informacion</h3>
              </div>
     
              <div class="box-body">

                 <div [ngClass]="{'col-md-6':moduloNivel2, 'col-md-12':moduloPermiso}">           
                  <div [ngClass]="{'box box-danger':moduloNivel2, '':moduloPermiso}" >
                      <div *ngIf="moduloNivel2" class="box-header text-center">
                        <i class="fa fa-address-card-o"></i>
            
                        <h3 class="box-title">Editar Informacion Actual</h3>
                      </div>
                     
                      <div class="box-body">
                        <form id="form-work2" class="" name="form-work2" action="#">
                            <fieldset>
                              <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="escuelaedit">
                                    <strong>Escuela:</strong>
                                  </label>
                                  <input id="escuelaedit"  name="escuelaedit" class="form-control" type="text">
                                </div>
                              </div>
                              <div *ngIf="labestructurado" class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label" for="espacioedit"><strong>Encargado:</strong></label>
                                  <select class="form-control" id="espacioedit" name="espacioedit" [(ngModel)]="this.infolab.facilityAdmin">
                                    <option *ngFor="let item of this.labestructurado.personal" value="{{item.id}}" >{{item.nombre}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="emailedit">
                                    <strong>Email:</strong>
                                  </label>
                                  <input id="emailedit" [(ngModel)]="this.infolab.otros.email" name="emailedit" class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="teledit">
                                    <strong>Telefono:</strong>
                                  </label>
                                  <input id="teledit" [(ngModel)]="this.infolab.otros.telefono" name="teledit" class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-12">
                                  <label class="control-label" for="diredit">
                                    <strong>Direccion:</strong>
                                  </label>
                                  <input id="diredit" [(ngModel)]="this.infolab.otros.direccion" name="diredit" class="form-control" type="text">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-12">
                                  <button (click)="editar()" class="btn2 btn-danger btn-lg btn-block danger" type="button">Guardar Cambios</button>
                                </div>
                              </div>
                            </fieldset>
                        </form>
                      </div>
                  </div>
                </div>
               

                <div *ngIf="moduloNivel2" class="col-md-6">
                  <div class="box box-danger">
                      <div class="box-header text-center">
                        <i class="fa fa-address-card-o"></i>
            
                        <h3 class="box-title">Cambios Propuestos</h3>
                      </div>
                      <div class="box-body">
                        <form action="">
                          <div *ngIf="labestructurado" class="form-group">
                            <div class="col-md-12">
                              <label class="control-label" for="espacioedit"><strong>Seleccione:</strong></label>
                              <select class="form-control" id="espacioedit" name="espacioedit" [(ngModel)]="seleccionado" (change)="cambiarSugerencia($event.target.value)">
                                <option value="inicial">Seleccione una Sugerencia</option>
                                <option *ngFor="let item of this.cambios" value="{{item.uid}}" >{{item.nombre}}</option>
                              </select>
                            </div>
                          </div>
                        </form>
                      </div>

                      <div *ngIf="this.sugerencia" class="row" style="margin-top: 20px;">
                          <div class="col-md-12">
                              <div class="box box-danger">
                                  <div class="box-header text-center">
                                    <i class="fa fa-address-card-o"></i>
                        
                                    <h3 class="box-title">Cambios</h3>
                                  </div>
                                  <div class="box-body">
                                    <form action="">
                                        <fieldset>
                                            <div class="form-group">
                                              <div *ngFor="let item of this.sugerencia.data; let i = index" class="col-md-12">
                                                <label class="control-label" for="espacio">
                                                  <strong>{{item.nombre}}:</strong> {{item.info}} 
                                                  <input name="{{'checkbox' + i}}" [(ngModel)]="checks['checkbox'+ i]" type="checkbox">
                                                </label>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <div class="col-md-6">
                                                <button (click)="enviarSugerencia()" class="btn2 btn-success btn-lg btn-block success" type="button">Aprobar</button>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <div class="col-md-6">
                                                <button (click)="desaprobarSugerencia()" class="btn2 btn-danger btn-lg btn-block danger" type="button">Desaprobar</button>
                                              </div>
                                            </div>
                                          
                                          </fieldset>
                                    </form>
                                  </div>
                              </div>
                          </div>
  
                         
                      </div>
                  </div>
                </div> 

                
              </div>
          </div>


        
      </div>
    </div>
  </div>
</div>
