<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Información de acceso a los espacios de laboratorio</h1>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="box box-danger shadow">
          <div class="box-header">
            <i class="fa fa-file"></i>
            <h3 class="box-title">Información más reciente</h3>
          </div>
          <div class="box-body">
            <iframe style="border: none; width: 100%; min-height: 650px;"
              src="https://docs.google.com/document/d/e/2PACX-1vSHaT71Y5i9b-7mdF1FgLDaHNZy8VvLN3EM3oZwK1NFccsKg81JSm1FjaDKvuwopCHnkJ7rCn8SA_xQ/pub"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>