<aside class="main-sidebar divScroll">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar m-t-5">
  <!-- Sidebar user panel  ocultar imagen de usuario -->
  <div class="user-panel" *ngIf="imgUsr" >
      <div class="pull-left image">
        <img src="{{ this.usuario.photoURL? this.usuario.photoURL : this.photoDummie }}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info user-name">
        <p> {{this.usuario.displayName.toLowerCase()}} </p>
        <a href="#">
          <i class="fa fa-circle text-success"></i>Online</a>
      </div>
    </div>
     <!-- Sidebar user panel  ocultar  comoduloPrincipalmponentes segun el nivel  -->
     <li class="header text-center"> BÚSQUEDAS Y SOLICITUDES </li>
     <app-bar-busqueda></app-bar-busqueda>
    <app-bar-admin-solicitudes *ngIf="moduloPrincipal || moduloNivel2"></app-bar-admin-solicitudes>
    <li class="header text-center" *ngIf="moduloNivel2"> ADMINISTRACIÓN DE LABORATORIOS  </li>
    <app-bar-admin-laboratorios  *ngIf="moduloNivel2"></app-bar-admin-laboratorios>
    <li *ngIf="moduloNivel3"  class="header text-center"> ADMINISTRACIÓN DE SIGELAB  </li>
    <app-bar-admin-usuarios *ngIf="moduloNivel3"></app-bar-admin-usuarios>
    <app-bard-admin-qr  *ngIf="moduloQr || moduloNivel3"    ></app-bard-admin-qr>
    <app-bar-comunicacion-masiva *ngIf="moduloComMasiva"></app-bar-comunicacion-masiva>
    <li *ngIf="moduloNivel25"  class="header text-center"> ADMINISTRACIÓN DE FACULTAD  </li>
    <app-bar-admin-laboratorio-superior *ngIf="moduloNivel3 || moduloNivel25"></app-bar-admin-laboratorio-superior>
    <app-bar-solicitudes-nivel3 *ngIf="moduloNivel3 || moduloNivel25"></app-bar-solicitudes-nivel3>
    <li *ngIf="moduloNivel35"  class="header text-center">NIVEL 3.5</li>
    <app-bar-indicadores *ngIf="moduloNivel3 || moduloNivel25 || moduloNivel35"></app-bar-indicadores>
   <!--  <li style="color: #FFFFFF;">nivel 3</li> -->
  </section>
  <!-- /.sidebar -->
</aside>
