
<aside class="main-sidebar divScroll">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
  <!-- Sidebar user panel  ocultar imagen de usuario -->
  <div class="user-panel" *ngIf="imgUsr" >
      <div class="pull-left image">
        <img src="{{this.usuario.photoURL}}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p> {{this.usuario.displayName}} </p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
     <!-- Sidebar user panel  ocultar  comoduloPrincipalmponentes segun el nivel  -->
    <app-bar-busqueda></app-bar-busqueda>

    <app-bar-admin-solicitudes *ngIf="moduloPrincipal || moduloNivel2"></app-bar-admin-solicitudes>
    <app-bar-admin-laboratorios  *ngIf="moduloNivel2 || moduloPermiso"></app-bar-admin-laboratorios>
    <app-bar-admin-laboratorio-superior *ngIf="false"></app-bar-admin-laboratorio-superior>
    <app-bar-admin-usuarios *ngIf="false"></app-bar-admin-usuarios>
    <app-bar-indicadores *ngIf="false"></app-bar-indicadores>
   <!--  <li style="color: #FFFFFF;">nivel 3</li> -->
    <app-bar-solicitudes-nivel3 *ngIf="false"></app-bar-solicitudes-nivel3>
    <app-bar-comunicacion-masiva *ngIf="false"></app-bar-comunicacion-masiva>
  </section>
  <!-- /.sidebar -->
</aside>
