<div class="content-wrapper">

  <section class="content-header">

    <h1>

    </h1>

    <ol class="breadcrumb">

      <li>

        <a href="#">

          <i class="fa fa-dashboard"></i> Home</a>

      </li>

      <li class="active">Dashboard laboratorios</li>

    </ol>

  </section>

  <section class="content">



    <!-- mostrar una vez para cargar espacios -->
    <div class="col-md-12" style="margin-top: 20px;" *ngIf="seleccionLab">

      <div class=" box box-danger">

        <div>
          <div class="box-header">

            <i class="fa fa-build"></i>

            <h3 class="box-title">Selecciona un laboratorio</h3>
          </div>
          <!-- /.box-header -->
          <div *ngIf="dataSourceFacil.data.length == 0">
            <h3> No se logro cargar ningun laboratorio</h3>
          </div>
          <div class="box-body" *ngIf="dataSourceFacil.data.length > 0">

            <div class="example-container mat-elevation-z8">
              <div class="example-header">
                <mat-form-field>
                  <input style="outline: none;" matInput (keyup)="applyFilterLab($event.target.value)" placeholder="Buscar laboratorio">
                </mat-form-field>
              </div>

              <mat-table #tableFacil [dataSource]="dataSourceFacil" matSort>

                <ng-container matColumnDef="nombre">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.cfName}} </mat-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumnsFacil"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsFacil;" style="cursor: pointer;" (click)="cambiardataLab(row)"></mat-row>
              </mat-table>

              <mat-paginator #paginatorFinca="matPaginator" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
              </mat-paginator>
            </div>

          </div>
          <!-- /.box-body -->
        </div>

      </div>
    </div>



    <div class="col-md-12" style="margin-top: 20px;" *ngIf="!this.seleccionLab" >

      <div class="box box-danger">

        <div class="box-header text-center">

          <i class="fa fa-tags"></i>

          <h3 *ngIf="!this.formFirebase" class="box-title">Vincular equipo a codigo Qr: {{id}} </h3>
          <h3 *ngIf="this.formFirebase" class="box-title">Informacion codigo Qr: {{id}} </h3>
        </div>

        <!-- /.box-header -->



        <div class="box-body">

          <form id="form-dash2equip" class="" name="form-dash2equip">

            <fieldset>



              <!-- formulario FIREBASE -->

              <div *ngIf="this.formFirebase">



                <div class="form-group has-info" [ngClass]="{'has-success': this.formulario }">

                  <div class="col-md-12">

                    <label class="control-label" for="estadoserv">

                      <strong>codigo inventario:</strong>

                    </label>

                    <input disabled="true" id="invetory" [(ngModel)]="this.inventario.codeinventario" name="codigo"
                      class="form-control" type="text">

                  </div>

                </div>

                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong>Costo Inicial: :</strong>

                    </label>

                    <input disabled="true" [(ngModel)]="inventario.costoinicial" id="escuelaedit" name="costoinicial"
                      class="form-control" type="text">

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong> Marca: :</strong>

                    </label>

                    <input disabled="true" [(ngModel)]="inventario.marca" id="escuelaedit" name="fechaaceptacion" class="form-control"
                      type="text">

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong>Estado:</strong>

                    </label>

                    <input disabled="true" [(ngModel)]="inventario.estado" id="escuelaedit" name="estado" class="form-control"
                      type="text">

                  </div>

                </div>
              </div>



              <!-- campo de consulta sabs -->

              <div *ngIf="!this.formFirebase" class="form-group has-info" [ngClass]="{'has-success': this.formulario }">

                <div class="col-md-12">

                  <label class="control-label" for="estadoserv">

                    <strong>codigo inventario:</strong>

                  </label>

                  <input (focusout)="codeCheck($event)" id="invetory" [(ngModel)]="this.iventory" name="codigo" class="form-control"
                    type="text">

                  <span class="help-block"> {{status}}</span>

                </div>

              </div>



              <!-- formulario de consulta sabs -->

              <div *ngIf="this.formulario">







                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong> Responsable :</strong>

                    </label>

                    <input [readonly]='this.formEdit' [(ngModel)]="inventario.responsable" id="escuelaedit" name="responsable"
                      class="form-control" type="text">



                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong> Ubicacion :</strong>

                    </label>

                    <input [readonly]='this.formEdit' [ngClass]="{disabled : this.formEdit}" [(ngModel)]="inventario.ubicacion"
                      id="escuelaedit" name="ubicacion" class="form-control" type="text">

                  </div>

                </div>





                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong>Costo Inicial: :</strong>

                    </label>

                    <input [readonly]='true' [(ngModel)]="inventario.costoinicial" id="escuelaedit" name="costoinicial"
                      class="form-control" type="text">

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong> Marca: :</strong>

                    </label>

                    <input [readonly]='this.formEdit' [disabled]='this.formEdit' [(ngModel)]="inventario.marca" id="escuelaedit"
                      name="fechaaceptacion" class="form-control" type="text">

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong>Estado:</strong>

                    </label>

                    <input [readonly]='this.formEdit' [(ngModel)]="inventario.estado" id="escuelaedit" name="estado"
                      class="form-control" type="text">

                  </div>

                </div>





                <div *ngIf="moduloQr || moduloNivel2" class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="variacionserv">

                      <strong>Espacio :</strong>

                    </label>

                    <select class="form-control" name="espacio" id="variato" (change)="getSelectValueSpace($event.target.value)">

                      <option value="inicial">Seleccione un espacio</option>

                      <option *ngFor="let item of this.spaces" value="{{item.id_space }}">{{item.spaceData.place}}
                      </option>



                    </select>

                  </div>

                </div>



                <div class="form-group" *ngIf="this.arrComponents.length > 0">

                  <div class="col-md-6">

                    <label class="control-label" for="variacionserv">

                      <strong>Componentes:</strong>

                    </label>

                    <select class="form-control" name="components">



                      <option *ngFor="let item of this.arrComponents" value="{{item.brand}}">{{ item.brand }} </option>



                    </select>

                  </div>

                </div>





              </div>









            </fieldset>





          </form>



          <div *ngIf="this.formulario && (moduloQr || moduloNivel2)" class="modal-footer">

            <button (click)="addEquipFirebase()" type="button" class="btn btn-danger">
              <i class="fa fa-check"></i> Guardar</button>

            <button (click)="viewComp()" type="button" class="btn btn-success">
              <i class="fa fa-cogs"></i> vincular componente</button>



          </div>



        </div>

        <div class="box box-danger" *ngIf="this.formularioComp" style="margin-top: 20px">

          <div class="box-header text-center">

            <i class="fa fa-cogs"></i>

            <h3 class="box-title">Vincular componente a Equipo </h3>

          </div>

          <div class="box-body">

            <form id="form-2" class="" name="form-2">

              <fieldset>



                <div class="form-group has-info" [ngClass]="{'has-success': this.formularioComp, 'has-warning': !this.formularioComp }">

                  <div class="col-md-12">

                    <label class="control-label" for="estadoserv">

                      <strong>codigo inventario componente:</strong>

                    </label>

                    <input (focusout)="codeCheckComponent($event)" name="codigo_c" class="form-control" type="text">

                    <span class="help-block"> {{statusComponent}}</span>

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong> Ubicacion:</strong>

                    </label>

                    <input [(ngModel)]="componente.ubicacion_c" name="ubicacion_c" class="form-control" type="text">

                  </div>

                </div>





                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong>Costo Inicial:</strong>

                    </label>

                    <input [(ngModel)]="componente.costoinicial_c" name="costoinicial_c" class="form-control" type="text">

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong> Marca:</strong>

                    </label>

                    <input [(ngModel)]="componente.marca_c" name="fechaaceptacion_c" class="form-control" type="text">

                  </div>

                </div>



                <div class="form-group">

                  <div class="col-md-6">

                    <label class="control-label" for="nombreprub">

                      <strong>Estado:</strong>

                    </label>

                    <input [(ngModel)]="componente.estado_c" name="estado_c" class="form-control" type="text">

                  </div>

                </div>

              </fieldset>

            </form>





          </div>







        </div>





        <div class="modal-footer" *ngIf="this.formularioComp">

          <button type="button" (click)="addComponent()" class="btn btn-success">

            <i class="fa fa-plus"></i> Agregar Componente </button>

        </div>

      </div>





    </div>



  </section>

</div>
