<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
    Laboratorios
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li class="active">Dashboard laboratorios</li>
    </ol>
  </section>

  <!-- Main content -->
  <!-- <section class="content" *ngIf="itemsel | async; let itemsel"> -->

    <section class="content" *ngIf="itemsel | async; let itemsel">
    <!-- Componente central de busqueda -->

    <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="box box-danger">
            <div class="box-body">

              <div class="row" style="margin-top:20px;">
                 <!-- INFORMACION LABORATORIO -->
                  <div class="col-md-6" >
                    <div class="box box-danger">
                      <div class="box-header">
                        <i class="fa fa-search"></i>

                        <h3 class="box-title">Lista de equipos vinculados</h3>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body" *ngIf="dataSourceEquip.data">
                          <div *ngIf="dataSourceEquip.data.length == 0">
                              <h3>EL LABORATORIO SELECCIONADO NO CUENTA CON EQUIPOS</h3>
                            </div>

                            <div class="example-container mat-elevation-z8" *ngIf="dataSourceEquip.data.length != 0">
                              <div class="example-header">
                                <mat-form-field>
                                  <input style="outline: none;" matInput (keyup)="applyFilterEquip($event.target.value)" placeholder="Buscar servicio">
                                </mat-form-field>
                              </div>

                              <mat-table #tableEquip #sortEquip="matSort" [dataSource]="dataSourceEquip" matSort>

                                <!-- Position Column -->
                                <ng-container matColumnDef="nombre">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                  <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumnsEquip"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumnsEquip;" style = "cursor: pointer;" (click)="cambiarDataEquipo(row)" data-toggle="modal" data-target="#myModalLabs" ></mat-row>
                              </mat-table>

                              <mat-paginator #paginatorEquip="matPaginator"
                                [pageSize]="5"
                                [pageSizeOptions]="[5, 10, 20]"
                                [showFirstLastButtons]="true">
                              </mat-paginator>
                            </div>

                      </div>
                      <div *ngIf="!dataSourceEquip.data">
                        <h3>DEBE SELECCIONAR UN LABORATORIO</h3>
                      </div>

                    </div>
                  </div>
                  <!-- df -->
       
                 <div *ngIf="equiposel" class="col-md-6">
                  <div class="box box-danger">


                    <div class="box-body">

                        <div class="col-md-12">
                            <div class="box box-danger">
                              <div class="box-header">
                                <i class="fa fa-address-card-o"></i>

                                <h3 class="box-title">Informacion de Equipo Seleccionado</h3>
                              </div>
                  
                              <div class="box-body divScroll">

                                <form  id="form-work" class="" name="form-work" action="#">
                                    <fieldset>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="ccpas"><strong>Nombre: {{this.equiposel.nombre}}</strong></label>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="nac"><strong>Precio: {{this.equiposel.precio}}</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                              <label class="control-label" for="ciuor"><strong>Estado: {{this.equiposel.activo}}</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6" >
                                                <button class="btn2 btn-danger btn-lg btn-block danger" type="button">Editar Informacion</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <button class="btn2 btn-danger btn-lg btn-block danger" type="button" >Sol Mantenimiento</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                              </div>

                            </div>
                          </div>

                        <div class="col-md-12">
                            <div class="box box-danger">
                              <div class="box-header">
                                <i class="fa fa-map"></i>

                                <h3 class="box-title">Partes y/o componentes : {{this.equiposel.componentes.length}}</h3>
                              </div>
                           
                              <div class="box-body">
                                  <div class="box-body">
                                    <div *ngIf="dataSourceComponentes.data.length == 0">
                                      <h3>EL EQUIPO SELECCIONADO NO CUENTA CON COMPONENTES</h3>
                                    </div>

                                      <div class="example-container mat-elevation-z8" *ngIf="dataSourceComponentes.data.length != 0">
                                        <div class="example-header">
                                          <mat-form-field>
                                            <input style="outline: none;" matInput (keyup)="applyFilterComponentes($event.target.value)" placeholder="Buscar Componentes">
                                          </mat-form-field>
                                        </div>

                                        <mat-table #tableSComponentes #sortComponentes="matSort" [dataSource]="dataSourceComponentes" matSort>


                                          <ng-container matColumnDef="nombre">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                          </ng-container>

                                          <mat-header-row *matHeaderRowDef="displayedColumnsComponentes"></mat-header-row>
                                          <mat-row *matRowDef="let row; columns: displayedColumnsComponentes;" style = "cursor: pointer;" (click)="cambiarInfoModal(row, 'componentes')" data-toggle="modal" data-target="#modal1"></mat-row>
                                        </mat-table>

                                        <mat-paginator #paginatorComponentes="matPaginator"
                                          [pageSize]="5"
                                          [pageSizeOptions]="[5, 10, 20]"
                                          [showFirstLastButtons]="true">
                                        </mat-paginator>
                                      </div>
                                  </div>
                              </div>
                       
                            </div>

                        </div>

                        <div class="col-md-12">
                          <div class="box box-danger">
                            <div class="box-header">
                              <i class="fa fa-map"></i>

                              <h3 class="box-title">Servicios Vinculados : {{equiposel.servicios.length}}</h3>
                            </div>
                    
                            <div class="box-body">
                                <div class="box-body">
                                  <div *ngIf="dataSourceServicios.data.length == 0">
                                    <h3>EL EQUIPO SELECCIONADO NO CUENTA CON COMPONENTES</h3>
                                  </div>

                                    <div class="example-container mat-elevation-z8" *ngIf="dataSourceServicios.data.length != 0">
                                      <div class="example-header">
                                        <mat-form-field>
                                          <input style="outline: none;" matInput (keyup)="applyFilterServicios($event.target.value)" placeholder="Buscar Servicios">
                                        </mat-form-field>
                                      </div>

                                      <mat-table #tableServicios #sortServicios="matSort" [dataSource]="dataSourceServicios" matSort>


                                        <ng-container matColumnDef="nombre">
                                          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumnsServicios"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumnsServicios;" style = "cursor: pointer;" (click)="cambiarInfoModal(row, 'servicios')" data-toggle="modal" data-target="#modal1"></mat-row>
                                      </mat-table>

                                      <mat-paginator #paginatorServicios="matPaginator"
                                        [pageSize]="5"
                                        [pageSizeOptions]="[5, 10, 20]"
                                        [showFirstLastButtons]="true">
                                      </mat-paginator>
                                    </div>
                                </div>
                            </div>
                       

                          </div>
                        </div>

                        <div class="col-md-12">
                            <div class="box box-danger">
                              <div class="box-header">
                                <i class="fa fa-map"></i>

                                <h3 class="box-title">Pruebas Vinculadas : {{equiposel.practicas.length}}</h3>
                              </div>
                     
                              <div class="box-body">
                                <div *ngIf="dataSourcePracticas.data.length == 0">
                                  <h3>EL EQUIPO SELECCIONADO NO CUENTA CON COMPONENTES</h3>
                                </div>

                                  <div class="example-container mat-elevation-z8" *ngIf="dataSourcePracticas.data.length != 0">
                                    <div class="example-header">
                                      <mat-form-field>
                                        <input style="outline: none;" matInput (keyup)="applyFilterPracticas($event.target.value)" placeholder="Buscar Servicios">
                                      </mat-form-field>
                                    </div>

                                    <mat-table #tablePracticas #sortPracticas="matSort" [dataSource]="dataSourcePracticas" matSort>


                                      <ng-container matColumnDef="nombre">
                                        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
                                      </ng-container>

                                      <mat-header-row *matHeaderRowDef="displayedColumnsPracticas"></mat-header-row>
                                      <mat-row *matRowDef="let row; columns: displayedColumnsPracticas;" style = "cursor: pointer;" (click)="cambiarInfoModal(row, 'practicas')" data-toggle="modal" data-target="#modal1"></mat-row>
                                    </mat-table>

                                    <mat-paginator #paginatorPracticas="matPaginator"
                                      [pageSize]="5"
                                      [pageSizeOptions]="[5, 10, 20]"
                                      [showFirstLastButtons]="true">
                                    </mat-paginator>
                                  </div>
                              </div>
                      

                            </div>
                        </div>

                    </div>
                  

                  </div>
                 </div>  

              </div>


            </div>
          </div>
        </div>
    </div>


  

  </section>

  <div><button (click)="subirComp()">enviar</button></div>

</div>

<div class="modal fade" id="modal1" role="dialog">
  <div class="modal-dialog modal-lg">

     <!-- Modal content-->
     <div class="modal-content">

      <div class="modal-body">
          <div class="box box-danger">
              <div class="box-header text-center">
                <i class="fa fa-address-card-o"></i>

                <h3 class="box-title">Informacion de {{tablesel}}</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
         

                <form *ngIf="tablesel == 'servicios'"  id="form-dash2serv" class="" name="form-dash2serv" action="#">
                  <fieldset>
                    <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="nombreprub"><strong>Nombre :</strong> {{seleccionado.nombre}}</label>

                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="estadoserv"><strong>Descripcion:</strong> {{seleccionado.descripcion}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="estadoserv"><strong>Precio:</strong> {{seleccionado.precio}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="estadoserv"><strong>Estado:</strong> {{seleccionado.activo}}</label>
                      </div>
                    </div>
                  </fieldset>
                </form>

                <form *ngIf="tablesel == 'componentes'"  id="form-dash2proy" class="" name="form-dash2proy" action="#">
                    <fieldset>
                      <div class="form-group">
                          <div class="col-md-12">
                            <label class="control-label" for="idProy"><strong>ID :</strong> {{seleccionado.id}}</label>

                          </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="nombreProy"><strong>Nombre:</strong> {{seleccionado.nombre}}</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="descripProy"><strong>Descripcion:</strong> {{seleccionado.descripcion}}</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="descripProy"><strong>Marca:</strong> {{seleccionado.marca}}</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="descripProy"><strong>Modelo:</strong> {{seleccionado.modelo}}</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="descripProy"><strong>Precio:</strong> {{seleccionado.precio}}</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="descripProy"><strong>Estado:</strong> {{seleccionado.estado}}</label>
                        </div>
                      </div>

                    </fieldset>
                </form>


                <form  *ngIf="tablesel == 'practicas'"  id="form-workprub" class="" name="form-workprub" action="#">
                  <fieldset>
                    <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="nombreprub"><strong>Nombre :</strong> {{seleccionado.nombre}}</label>

                        </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="control-label" for="estadoserv"><strong>Estado:</strong> {{seleccionado.activo}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12" style="margin-top: 20px;">
                        <label class="control-label"><strong style="color: red;">PROGRAMACION</strong></label>
                      </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="cantest"><strong>N* Estudiantes:</strong> {{seleccionado.programacion.estudiantes}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="semestre"><strong>Semestre:</strong> {{seleccionado.programacion.semestre}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                          <label class="control-label" for="diahora"><strong>Dia y Hora:</strong> {{seleccionado.programacion.diahora}}</label>
                        </div>
                    </div>
                  </fieldset>
                </form>

 
              </div>

          </div>
      </div>
    </div>


  </div>
</div>

