 <!-- sidebar menu: : style can be found in sidebar.less -->
 <ul class="sidebar-menu" data-widget="tree" style="width: 100%;">

        <li class="treeview" style="cursor:pointer;">
          <a>
            <i class="fa fa-briefcase"></i>
            <span>Administrar Laboratorios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li *ngFor="let item of this.laboratorios" class="treeview">
              <a>
                <i class="fa fa-circle-o"></i>
                <span>{{item.nombre}}</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview">
                  <a href="#" [routerLink]="['adminlaboratorios']" (click)="enviaritem(item)">
                    <i class="fa fa-circle-o"></i>DashBoard
                  </a>
                </li>
                <li class="treeview">
                  <a [routerLink]="['adminequipos']" (click)="enviaritem(item)" >
                    <i class="fa fa-circle-o"></i>Administracion de Equipos
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i>Administracion de Personal
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i>Administracion de Espacios
                  </a>
                </li>
                <li class="treeview">
                  <a >
                    <i class="fa fa-circle-o"></i>Administracion de Practicas
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i>Administracion de Servicios
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i>Administracion de Proyectos
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i>Solicitudes
                  </a>
                </li>
              </ul>
            </li>
     
          </ul>
        </li>

      </ul>
  