 <!-- sidebar menu: : style can be found in sidebar.less -->
 <ul class="sidebar-menu" data-widget="tree" style="width: 100%;">

        <li class="treeview" style="cursor:pointer;">
          <a>
            <i class="fa fa-briefcase"></i>
            <span>Administrar Laboratorios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li *ngFor="let item of this.laboratorios2" class="treeview">
              <a>
                <i class="fa fa-circle-o"></i>
                <span>{{item.nombre.nom1}} <br> {{item.nombre.nom2}} </span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="treeview" (click)="enviaritemLab(item)">
                  <a href="#" [routerLink]="['adminlaboratorios']" >
                    <i class="fa fa-circle-o"></i>DashBoard
                  </a>
                </li>
                <li class="treeview" (click)="enviaritemEquip(item)">
                  <a [routerLink]="['adminequipos']" >
                    <i class="fa fa-circle-o"></i>Administracion de Equipos
                  </a>
                </li>
                <li class="treeview" (click)="enviaritemPer(item)">
                  <a [routerLink]="['adminpersonal']" >
                    <i class="fa fa-circle-o"></i>Administracion de Personal
                  </a>
                </li>
                <li class="treeview" (click)="enviaritemEsp(item)">
                  <a [routerLink]="['adminespacios']" >
                    <i class="fa fa-circle-o"></i>Administracion de Espacios
                  </a>
                </li>
                <li class="treeview" (click)="enviaritemPra(item)">
                  <a [routerLink]="['adminpracticas']" >
                    <i class="fa fa-circle-o"></i>Administracion de Practicas
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i> Administracion de Servicios
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li (click)="enviaritemServAsoc(item)">
                      <a [routerLink]="['adminserviciosasociados']">
                        <i class="fa fa-circle-o" ></i>
                         Servicios asociados</a>
                    </li>
                    <li (click)="enviaritemSolServ(item)">
                      <a [routerLink]="['adminserviciosolicitud']">
                        <i class="fa fa-circle-o"></i> Solicitudes de servicios</a>
                    </li>
                  </ul>
                </li>

                <li class="treeview">
                  <a [routerLink]="['adminproyectos']" (click)="enviaritemProy(item)">
                    <i class="fa fa-circle-o"></i>Administracion de Proyectos
                  </a>
                </li>
                <li class="treeview">
                  <a>
                    <i class="fa fa-circle-o"></i>
                    <span>Solicitudes</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li class="treeview">
                      <a [routerLink]="['adminsolicitudmantenimiento']" (click)="enviaritemSolMante(item)">
                        <i class="fa fa-circle-o"></i>Solicitud de Mantenimiento
                      </a>
                    </li>
                    <li class="treeview">
                      <a>
                        <i class="fa fa-circle-o"></i>Solicitud de Reposicion
                      </a>
                    </li>
                    <li class="treeview">
                      <a href="https://swebse12.univalle.edu.co/sabs/paquetes/formatos/fm_bajas.htm">
                        <i class="fa fa-circle-o"></i>Solicitud de Baja
                      </a>
                    </li>
                    <li class="treeview">
                      <a href="https://dfrq-quiuv.herokuapp.com/cuentas/login/">
                        <i class="fa fa-circle-o"></i>Recoleccion de Residuos
                      </a>
                    </li>

                  </ul>

                </li>
              </ul>
            </li>

          </ul>
        </li>

</ul>
